Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

fix scope
  app/models/career/member.rb
  app/repositories/career/step/member_repository.rb
  app/repositories/career/step_repository.rb
  app/repositories/career_repository.rb
Due: bundle exec rubocop

#581. Move definition of resume locale to method locale_ru? in resume model
  app/models/resume.rb
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

#581. Make method for resume locale definition simpler
  app/models/resume.rb
Due: bundle exec rubocop

#581. Add condition to validation of english_fluency in resume model.… (#585)
  app/models/resume.rb
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix scope (#586)
  app/models/career/member.rb
  app/repositories/career/step/member_repository.rb
  app/repositories/career/step_repository.rb
  app/repositories/career_repository.rb
Due: bundle exec rubocop

add markdown tips for inputs
  config/locales/simple_form.ru.yml
Due: none

fix markdown tips
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: none

fix translations
  config/locales/simple_form.ru.yml
Due: none

micro refactoring
  app/controllers/web/careers/application_controller.rb
  app/views/web/careers/members/show.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add with_index
  app/views/web/careers/members/show.html.slim
Due: bundle exec slim-lint app/views/

add career path to drop-down menu
  app/controllers/web/account/careers/application_controller.rb
  app/controllers/web/account/careers/members_controller.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/layouts/web/account/application.html.slim
  app/views/web/account/careers/members/_members.html.slim
  app/views/web/account/careers/members/index.html.slim
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/account/careers/members_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix margins in comment form
  app/views/web/shared/_comment_form.html.slim
Due: bundle exec slim-lint app/views/

add career path to drop-down menu (#590)
  app/controllers/web/account/careers/application_controller.rb
  app/controllers/web/account/careers/members_controller.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/layouts/web/account/application.html.slim
  app/views/web/account/careers/members/_members.html.slim
  app/views/web/account/careers/members/index.html.slim
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/account/careers/members_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add fixtures an fix search for tags
  app/forms/web/resumes/search_form.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
  test/controllers/web/admin/careers_controller_test.rb
  test/controllers/web/careers/memebers_controller_test.rb
  test/controllers/web/careers/steps/members_controler_test.rb
  test/controllers/web/careers_controller_test.rb
  test/fixtures/acts_as_taggable_on/taggings.yml
  test/fixtures/acts_as_taggable_on/tags.yml
  test/fixtures/career/items.yml
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/career/steps.yml
  test/fixtures/careers.yml
Due: bundle exec rubocop

add fixtures an fix search for tags (#591)
  app/forms/web/resumes/search_form.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
  test/controllers/web/admin/careers_controller_test.rb
  test/controllers/web/careers/memebers_controller_test.rb
  test/controllers/web/careers/steps/members_controler_test.rb
  test/controllers/web/careers_controller_test.rb
  test/fixtures/acts_as_taggable_on/taggings.yml
  test/fixtures/acts_as_taggable_on/tags.yml
  test/fixtures/career/items.yml
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/career/steps.yml
  test/fixtures/careers.yml
Due: bundle exec rubocop

fix translation missing
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

Fix #478. Redefine devise after_sign_out_path_for method to redirect to right locale
  app/controllers/web/devise/sessions_controller.rb
Due: bundle exec rubocop

Fix #478. Redefine devise after_sign_out_path_for method to redirect to right locale (#592)
  app/controllers/web/devise/sessions_controller.rb
Due: bundle exec rubocop

add missing translation in admin panel
  config/locales/admin/en.flash.yml
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/en.activerecord.yml
  config/locales/en.inputs.yml
  config/locales/en.layouts.yml
  config/locales/en.yml
Due: none

acts as taggable
  config/initializers/acts_as_taggable_on/tag.rb
  config/initializers/tag.rb
Due: bundle exec rubocop

add field role to user form admin
  app/forms/web/admin/user_form.rb
  app/views/web/admin/users/index.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/ru.flash.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

removed the last answers column from the career
  app/controllers/web/careers/steps/members_controller.rb
  app/views/layouts/web/careers/application.html.slim
  app/views/web/careers/members/show.html.slim
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix missing translations
  config/locales/devise.en.yml
Due: none

add dependent destroy to Resime Answer
  app/controllers/web/account/notifications_controller.rb
  app/models/resume/answer.rb
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop

remove not consistent notification
  db/migrate/20230609125208_remove_not_consistent_notifications.rb
  db/schema.rb
Due: bundle exec rubocop

fix translation
  config/locales/admin/ru.yml
Due: none

Fix #474. Redefine signed_in_root_path devise method to redirect to correct locale after sign in through github
  app/controllers/application_controller.rb
Due: bundle exec rubocop

career path email notification
  app/controllers/web/admin/careers/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/models/user.rb
  app/views/answer_comment_mailer/new_comment_email.en.html.slim
  app/views/answer_comment_mailer/new_comment_email.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
  config/environments/development.rb
  config/locales/en.yml
  config/locales/ru.yml
  test/controllers/web/admin/careers/members_controller_test.rb
  test/fixtures/users.yml
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

career path email notification (#601)
  app/controllers/web/admin/careers/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/models/user.rb
  app/views/answer_comment_mailer/new_comment_email.en.html.slim
  app/views/answer_comment_mailer/new_comment_email.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
  config/environments/development.rb
  config/locales/en.yml
  config/locales/ru.yml
  test/controllers/web/admin/careers/members_controller_test.rb
  test/fixtures/users.yml
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add link to post message
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix card career track in account
  app/views/web/account/careers/members/_members.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

Fix #474. Make helper for redefined devise methods
  app/controllers/application_controller.rb
  app/controllers/web/devise/passwords_controller.rb
  app/controllers/web/devise/registrations_controller.rb
  app/controllers/web/devise/sessions_controller.rb
  app/controllers/web/omniauth_callbacks_controller.rb
  app/lib/devise_helper.rb
Due: bundle exec rubocop

fixed output of links in emails
  app/views/answer_comment_mailer/new_comment_email.en.html.slim
  app/views/answer_comment_mailer/new_comment_email.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix markdown tips
  config/locales/simple_form.en.yml
Due: none

Update README.md
  README.md
Due: none

press down footer
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint app/views/

Fix #474. Include DeviseHelper in ApplicationController
  app/controllers/application_controller.rb
  app/controllers/web/devise/passwords_controller.rb
  app/controllers/web/devise/registrations_controller.rb
  app/controllers/web/devise/sessions_controller.rb
  app/controllers/web/omniauth_callbacks_controller.rb
Due: bundle exec rubocop

add test on last step finished
  test/controllers/web/careers/steps/members_controler_test.rb
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop

Fix #474. Redefine signed_in_root_path devise method to redirect to correct locale after sign in through github (#598)
  app/controllers/application_controller.rb
  app/controllers/web/devise/sessions_controller.rb
  app/lib/devise_helper.rb
Due: bundle exec rubocop

fix
  test/controllers/web/admin/careers/members_controller_test.rb
Due: bundle exec rubocop
