Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

add field locale in vacancy form
  app/views/web/account/vacancies/edit.html.slim
  app/views/web/account/vacancies/new.html.slim
  app/views/web/admin/vacancies/edit.html.slim
  app/views/web/shared/_vacancy_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec slim-lint app/views/

fix
  app/forms/web/admin/resume_form.rb
  app/forms/web/admin/vacancy_form.rb
  config/locales/admin/ru.flash.yml
Due: bundle exec rubocop

Locale field resume (#569)
  app/forms/web/admin/resume_form.rb
  app/forms/web/admin/vacancy_form.rb
  app/views/web/account/resumes/edit.html.slim
  app/views/web/account/resumes/new.html.slim
  app/views/web/account/vacancies/edit.html.slim
  app/views/web/account/vacancies/new.html.slim
  app/views/web/admin/resumes/edit.html.slim
  app/views/web/admin/vacancies/edit.html.slim
  app/views/web/shared/_resume_form.html.slim
  app/views/web/shared/_vacancy_form.html.slim
  config/locales/admin/ru.flash.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix margin in memo (#568)
  app/views/web/account/resumes/new.html.slim
Due: bundle exec slim-lint app/views/

add in user-admin form user role field
  app/views/web/shared/_user_form.html.slim
  config/locales/ru.enumerize.yml
Due: bundle exec slim-lint app/views/

add in user-admin form user role field (#571)
  app/views/web/shared/_user_form.html.slim
  config/locales/ru.enumerize.yml
Due: bundle exec slim-lint app/views/

add item_oredr method in member controller
  app/controllers/web/careers/members_controller.rb
Due: bundle exec rubocop

update documentation
  docs/checklists.csv
  docs/test-cases.csv
Due: none

empty lines added
  docs/checklists.csv
  docs/test-cases.csv
Due: none

update documentation (#572)
  docs/checklists.csv
  docs/test-cases.csv
Due: none

correction of remarks
  app/controllers/web/admin/careers/members_controller.rb
  app/controllers/web/careers/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/controllers/web/users_controller.rb
  app/models/career/member.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/web/admin/careers/_users.html.slim
  app/views/web/careers/index.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/careers/show.html.slim
  app/views/web/users/_careers.html.slim
  app/views/web/users/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.flash.yml
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/careers_controller_test.rb
  test/fixtures/career/members.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix(Gemfile): set min ruby version
  Gemfile
Due: none

fix
  app/controllers/web/careers/members_controller.rb
  app/models/career/member.rb
  app/repositories/career/item_repository.rb
  app/views/web/admin/careers/edit.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/users/_careers.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Revert "fix(Gemfile): set min ruby version"
  Gemfile
Due: none

fix(Readme): set min ruby version
  README.md
Due: none

fix(Gemfile): set min ruby version (#573)
  README.md
Due: none

fix
  db/migrate/20230502082427_add_uniq_index_to_career_step_members.rb
  db/schema.rb
Due: bundle exec rubocop

fix (#574)
  db/migrate/20230502082427_add_uniq_index_to_career_step_members.rb
  db/schema.rb
Due: bundle exec rubocop

fix typo
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

Fix #576. Add missing ru locale in ru.flash.yml for resumes
  config/locales/ru.flash.yml
Due: none

Fix #576. Move careers scope in ru.flash.yml from profiles scope
  config/locales/ru.flash.yml
Due: none

Fix #576. Add missing ru locale in ru.flash.yml for resumes (#578)
  config/locales/ru.flash.yml
Due: none

last answers with locale
  app/repositories/resume/answer_repository.rb
Due: bundle exec rubocop

Add fix for setup on Apple silicon
  .env.development
  Makefile
  README.md
Due: none

Delete .env.development, add EMAIL_SPECIAL_USER value to .env.example
  .env.development
  .env.example
Due: none

Add fix for setup on Apple silicon (#579)
  .env.example
  Makefile
  README.md
Due: none

change email to fixtures
  .env.example
  .env.test
  test/fixtures/users.yml
Due: none

#557 Add hints for salary from and salary to field on new/edit vacancy form. Change validation for site in vacancy model to allow blank. Add 'depends' salary type in Web::Account::VacancyForm
  app/forms/web/account/vacancy_form.rb
  app/models/vacancy.rb
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop

add markdown for display of company information
  app/views/web/vacancies/show.html.slim
Due: bundle exec slim-lint app/views/

Change vacancy site validaton: add presence: true, replace url: { allow_blank: true } with url:true
  app/models/vacancy.rb
Due: bundle exec rubocop

#557 Add hints for salary from and salary to field on new/edit vacancy (#580)
  app/forms/web/account/vacancy_form.rb
  app/models/vacancy.rb
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop

Hide english_fluency field in vacancies created in english version
  app/views/web/resumes/_information.html.slim
  config/locales/en.activerecord.yml
Due: bundle exec slim-lint app/views/

fix translate for hint
  config/locales/simple_form.ru.yml
Due: none

fix name link start career
  app/views/web/users/_careers.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

#575. Change 'unless' to 'if' on resumes/_iformation.html.slim english_fluency field
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

#575 Hide english_fluency field in vacancies created in english version (#584)
  app/views/web/resumes/_information.html.slim
  config/locales/en.activerecord.yml
Due: bundle exec slim-lint app/views/

#581. Add condition to validation of english_fluency in resume model. Add condition to input of english_fluency on resume new/edit form
  app/models/resume.rb
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add default locale
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/models/resume.rb
  app/models/vacancy.rb
Due: bundle exec rubocop

fix translation
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
