Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

rename column resume
  db/migrate/20231220095559_add_columns_projects_description_and_about_myself_from_resume.rb
  db/migrate/20231220100712_update_new_columns_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop

switch to new fields
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  test/factories/resumes.rb
  test/factories/sequences.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

ignore column
  app/models/resume.rb
Due: bundle exec rubocop

remove resume column
  app/models/resume.rb
  db/migrate/20231220104452_remove_columns_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop

hide contact informations
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

fix method name
  app/controllers/application_controller.rb
  app/controllers/concerns/auth.rb
  app/controllers/web/locales_controller.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/show.html.slim
  app/views/web/vacancies/show.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

hide filter link
  app/controllers/web/home_controller.rb
  app/views/web/home/index.html.slim
  app/views/web/shared/_resume_filter.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

hide answer tota ai from guest
  app/models/guest.rb
  app/models/resume.rb
  app/models/resume/answer.rb
  app/views/layouts/shared/_last_answers.slim
  app/views/web/resumes/show.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add link && fix translations
  app/views/web/account/vacancies/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

create versions from archived career member
  db/migrate/20231228205727_create_versions_from_archived_career_member.rb
  db/schema.rb
Due: bundle exec rubocop

add archived_at from member
  app/controllers/web/admin/career_member_users_controller.rb
  app/models/career/member.rb
  app/models/career/member/version.rb
  app/views/web/admin/career_member_users/_users.html.slim
  config/initializers/core_ext/kernel.rb
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  test/fixtures/career/member/versions.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add rake task from evaluate resume
  lib/tasks/resumes.rake
Due: bundle exec rubocop

fix show date
  app/views/layouts/shared/_last_answers.slim
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec slim-lint app/views/

fix sort column
  app/models/career/member/version.rb
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

sanitize summary resume from open ai
  app/services/resume_auto_answer_service.rb
  lib/tasks/resumes.rake
Due: bundle exec rubocop

fix make command
  Makefile
Due: none

add redirect from bot to resumes_controller
  app/controllers/concerns/seo_redirect_concern.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/resumes_controller.rb
  test/controllers/web/resumes_controller_test.rb
  test/test_helper.rb
Due: bundle exec rubocop

improve styles
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec slim-lint app/views/

fix margins
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec slim-lint app/views/

Minor edits
  .env.example
  README.md
Due: none

Add --force-exclusion to rubocop in lint-staged config
  .lintstagedrc.json
Due: none

Relax validation conditions for drafts
  app/models/resume.rb
  db/migrate/20240117083909_make_resume_fields_nullable.rb
  db/schema.rb
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop

fix scope
  app/repositories/resume/answer_repository.rb
Due: bundle exec rubocop

Fix locale
  config/locales/ru.activerecord.yml
Due: none

Update README.md
  README.md
Due: none

Add company description to resume model
  app/forms/web/account/resume_form.rb
  app/models/resume/work.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_work_fields.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  db/migrate/20240119100332_add_company_description_to_resume_works.rb
  db/schema.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

update deps
  Gemfile
  Gemfile.lock
  app/forms/web/vacancies/search_form.rb
  app/jobs/event_sender_job.rb
  app/lib/email_sender.rb
  app/lib/markdown_renderer.rb
  app/lib/notifications_helper.rb
  config/environments/test.rb
  config/initializers/active_record.rb
Due: bundle exec rubocop

improve styles
  app/views/web/shared/_education_fields.html.slim
  app/views/web/shared/_work_fields.html.slim
Due: bundle exec slim-lint app/views/

add link show for resume
  app/views/web/admin/resumes/edit.html.slim
Due: bundle exec slim-lint app/views/

update deps js
  app/javascript/stylesheets/application.scss
  app/views/web/admin/career_member_users/_careers.html.slim
  package-lock.json
  package.json
Due: npx stylelint, bundle exec slim-lint app/views/

update deps js (#717)
  app/javascript/stylesheets/application.scss
  app/views/web/admin/career_member_users/_careers.html.slim
  package-lock.json
  package.json
Due: npx stylelint, bundle exec slim-lint app/views/

Add company description in admin resume_form
  app/forms/web/admin/resume_form.rb
Due: bundle exec rubocop

fix editor
  app/javascript/scripts/markdownEditor.js
  app/views/web/admin/careers/steps/index.html.slim
Due: bundle exec slim-lint app/views/

Add company description (#716)
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/models/resume/work.rb
  app/views/web/admin/resumes/edit.html.slim
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_work_fields.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  db/migrate/20240119100332_add_company_description_to_resume_works.rb
  db/schema.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

update deps
  Gemfile.lock
Due: none

Add company descriptions in works.yml fixtures
  test/fixtures/resume/works.yml
Due: none

:bug: Fixed resume saving process
  app/controllers/web/account/resumes_controller.rb
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop

fix process published resume
  app/controllers/web/account/resumes_controller.rb
  app/mutators/resume_mutator.rb
Due: bundle exec rubocop

Fix resume additional contacts field
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

Fix resume additional contacts field (#720)
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
