Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

update state resume again
  db/migrate/20230918155843_update_state_to_resume_user.rb
  db/schema.rb
Due: bundle exec rubocop

fix migration
  db/migrate/20230918155843_update_state_to_resume_user.rb
Due: bundle exec rubocop

fix migration again
  db/migrate/20230918153947_update_state_to_resume.rb
  db/migrate/20230918155843_update_state_to_resume_user.rb
  db/schema.rb
Due: bundle exec rubocop

Redirect to edit_admin_vacancy_path after save
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

Redirect to edit_admin_vacancy_path after save (#676)
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

improve styles
  app/views/web/admin/careers/steps/edit.html.slim
Due: bundle exec slim-lint app/views/

improve styles
  app/views/web/careers/members/show.html.slim
Due: bundle exec slim-lint app/views/

improve styles
  app/views/web/admin/careers/steps/show.html.slim
Due: bundle exec slim-lint app/views/

improve styles
  app/views/web/admin/careers/_steps_list.html.slim
  app/views/web/admin/careers/_users.html.slim
  app/views/web/admin/careers/show.html.slim
Due: bundle exec slim-lint app/views/

fix make command
  make-services-app-docker.mk
Due: none

fix db schema
  db/schema.rb
Due: bundle exec rubocop

Add admin vacancies on moderation
  app/controllers/web/admin/vacancies_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/vacancies/_search_form.html.slim
  config/locales/admin/en.layouts.yml
  config/locales/admin/ru.layouts.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Add on_moderate.html.slim and index_respond_to
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/on_moderate.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Split vacancies index.html.slim
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/vacancies/_search_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

Add support of deploy to render.com
  Gemfile
  README.md
  bin/render-build.sh
  bin/render-start.sh
  bin/render_lib.sh
  config/application.rb
  db/seeds.rb
  db/seeds/render_seeds.rb
Due: bundle exec rubocop

Drop broken migrations
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
Due: bundle exec rubocop

Refactoring of vacancies_controller#on_moderate and views
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/index.html.slim
  app/views/web/admin/vacancies/on_moderate.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Remove state_eq: 'on_moderate' from query_params
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

Add admin vacancies on moderation (#677)
  app/controllers/web/admin/vacancies_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/vacancies/_search_form.html.slim
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  app/views/web/admin/vacancies/index.html.slim
  app/views/web/admin/vacancies/on_moderate.html.slim
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Add staging env
  .rubocop.yml
  Gemfile
  README.md
  bin/render-build.sh
  config/application.rb
  config/cable.yml
  config/database.yml
  config/environments/staging.rb
  db/seeds.rb
  db/seeds/render_load_fixtures.rb
Due: bundle exec rubocop

update range date_time for lost students in KT
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

update deps
  Gemfile.lock
Due: none

Update configs and scripts for render.com deploy
  bin/render-build.sh
  bin/render_lib.sh
  config/environments/production.rb
  config/environments/staging.rb
  config/puma.rb
Due: bundle exec rubocop

Update README.md
  README.md
Due: none

Cosmetic fixes for render.com deploy
  README.md
  config/environments/production.rb
  config/environments/staging.rb
  config/puma.rb
  db/seeds.rb
Due: bundle exec rubocop

Feature add render.com support (#678)
  .rubocop.yml
  Gemfile
  README.md
  bin/render-build.sh
  bin/render-start.sh
  bin/render_lib.sh
  config/cable.yml
  config/database.yml
  config/environments/staging.rb
  config/puma.rb
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
  db/seeds.rb
  db/seeds/render_load_fixtures.rb
Due: bundle exec rubocop

Revert "Feature add render.com support (#678)"
  .rubocop.yml
  Gemfile
  README.md
  bin/render-build.sh
  bin/render-start.sh
  bin/render_lib.sh
  config/cable.yml
  config/database.yml
  config/environments/production.rb
  config/environments/staging.rb
  config/puma.rb
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
  db/seeds.rb
  db/seeds/render_load_fixtures.rb
Due: bundle exec rubocop

update redirect after created and fix test
  app/controllers/web/admin/vacancies_controller.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop

Fix render deploy and update README
  README.md
  bin/render-build.sh
  config/environments/production.rb
  config/environments/staging.rb
  config/puma.rb
  db/seeds.rb
  db/seeds/render_load_fixtures.rb
Due: bundle exec rubocop

Add ability to archive and restore vacancies by admin
  app/controllers/web/admin/vacancies_controller.rb
  app/models/vacancy.rb
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Add export to CSV for resume at admin section
  app/controllers/web/admin/resumes_controller.rb
  app/views/web/admin/resumes/index.html.slim
  config/locales/admin/ru.yml
  test/controllers/web/admin/resumes_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix README.md syntax errors
  README.md
Due: none

Add libssl installation to Dockerfile for PDF generation
  Dockerfile
Due: none
