Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

Delete member.rb
  app/models/career/step/member.rb
Due: bundle exec rubocop

archived and restored resume for admin
  app/controllers/web/admin/resumes_controller.rb
  app/models/resume.rb
  app/views/web/admin/resumes/index.html.slim
  app/views/web/resumes/show.html.slim
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.views.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/admin/resumes_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

fix translation
  config/locales/admin/ru.flash.yml
Due: none

Archive resume for admin (#543)
  app/controllers/web/admin/resumes_controller.rb
  app/models/resume.rb
  app/views/web/admin/resumes/index.html.slim
  app/views/web/resumes/show.html.slim
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.views.yml
  config/locales/ru.views.yml
  config/routes.rb
  test/controllers/web/admin/resumes_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Update ru.flash.yml
  config/locales/admin/ru.flash.yml
Due: none

Update ru.flash.yml (#544)
  config/locales/admin/ru.flash.yml
Due: none

add model member
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

update make file
  Makefile
  make-compose.mk
  make-services-app.mk
Due: none

Update make file (#545)
  Makefile
  make-compose.mk
  make-services-app.mk
Due: none

fix setup
  Makefile
  bin/setup
Due: none

remove artifacts
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

fix make comand
  Makefile
Due: none

Fix project setup (#546)
  Makefile
  bin/setup
Due: none

add images for button change locale
  app/assets/images/flag-en.svg
  app/assets/images/flag-ru.svg
  app/views/layouts/shared/_nav.html.slim
  app/views/web/resumes/_answer_requires.html.slim
Due: bundle exec slim-lint app/views/

Add images for button (#547)
  app/assets/images/flag-en.svg
  app/assets/images/flag-ru.svg
  app/views/layouts/shared/_nav.html.slim
  app/views/web/resumes/_answer_requires.html.slim
Due: bundle exec slim-lint app/views/

fix ofences
  app/controllers/web/admin/careers_controller.rb
  app/controllers/web/careers/members_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/models/career.rb
  app/models/career/item.rb
  app/models/career/step/member.rb
  app/repositories/career/item_repository.rb
  app/repositories/career/member_repository.rb
  app/repositories/career/step/member_repository.rb
  app/repositories/career/step_repository.rb
  app/repositories/career_repository.rb
  app/repositories/user_repository.rb
  db/migrate/20230502075107_create_career_step_members.rb
  db/migrate/20230507195055_add_uniq_index_order_to_career_items.rb
  db/schema.rb
  test/factories/career/step/members.rb
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop

fix test
  db/schema.rb
Due: bundle exec rubocop

fix typo
  config/locales/devise.ru.yml
Due: none

fix typo (#552)
  config/locales/devise.ru.yml
Due: none

fix typos
  config/locales/admin/ru.flash.yml
Due: none

Fix typos translation (#554)
  config/locales/admin/ru.flash.yml
Due: none

add favicons
  app/assets/images/apple-touch-icon-precomposed.png
  app/assets/images/apple-touch-icon.png
  app/assets/images/favicon.ico
  app/assets/images/icon.svg
  app/views/layouts/shared/_head.html.slim
Due: bundle exec slim-lint app/views/

add favicons (#555)
  app/assets/images/apple-touch-icon-precomposed.png
  app/assets/images/apple-touch-icon.png
  app/assets/images/favicon.ico
  app/assets/images/icon.svg
  app/views/layouts/shared/_head.html.slim
Due: bundle exec slim-lint app/views/

fix edit form
  app/models/career/step/member.rb
  app/views/web/admin/careers/_form.html.slim
  app/views/web/admin/careers/edit.html.slim
  test/factories/career/step/members.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Career form edit (#556)
  app/views/web/admin/careers/_form.html.slim
  app/views/web/admin/careers/edit.html.slim
Due: bundle exec slim-lint app/views/

active link for vacancy
  app/models/career/step/member.rb
  app/views/web/vacancies/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  test/factories/career/step/members.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Active link vacancy (#558)
  app/views/web/vacancies/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/
