Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

Update README.md
  README.md
Due: none

add policy for vacncy
  app/controllers/web/account/application_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/policies/vacancy_policy.rb
  app/views/web/account/vacancies/index.html.slim
  config/locales/en.pundit.yml
  config/locales/ru.pundit.yml
  test/controllers/web/account/vacancies_controller_test.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add end line
  config/locales/en.pundit.yml
Due: none

replace slack link
  app/views/layouts/shared/_footer.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix month in pdf
  app/views/web/resumes/pdfs/base.slim
Due: none

fix display month
  app/views/web/resumes/pdfs/base.slim
Due: none

update ransack
  Gemfile
  Gemfile.lock
  app/models/resume.rb
  app/models/user.rb
  app/models/vacancy.rb
  app/views/web/admin/vacancies/index.html.slim
  config/initializers/tag.rb
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add make comand
  make-compose.mk
Due: none

locale separation
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/locales_controller.rb
  app/models/user.rb
  db/migrate/20230330213046_add_locale_to_user.rb
  db/migrate/20230330213157_init_value_locale_to_user.rb
  db/schema.rb
Due: bundle exec rubocop

new field contacts in resume
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/models/resume.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  db/migrate/20230330191106_add_new_fields_to_resume.rb
  db/schema.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add scope with_locale
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/vacancies_controller.rb
  app/repositories/concerns/with_locale_concern.rb
  app/repositories/resume_repository.rb
  app/repositories/vacancy_repository.rb
  test/controllers/web/resumes_controller_test.rb
  test/fixtures/resumes.yml
  test/fixtures/users.yml
  test/fixtures/vacancies.yml
Due: bundle exec rubocop

fix scope
  app/controllers/web/home_controller.rb
  app/controllers/web/resumes_controller.rb
  app/controllers/web/vacancies_controller.rb
  app/controllers/web/vacancy_filters_controller.rb
  app/repositories/resume_repository.rb
  app/repositories/vacancy_repository.rb
  db/migrate/20230330213157_init_value_locale_to_user.rb
Due: bundle exec rubocop

locale separation (#502)
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/home_controller.rb
  app/controllers/web/locales_controller.rb
  app/controllers/web/resumes_controller.rb
  app/controllers/web/vacancies_controller.rb
  app/controllers/web/vacancy_filters_controller.rb
  app/models/user.rb
  app/repositories/concerns/with_locale_concern.rb
  app/repositories/resume_repository.rb
  app/repositories/vacancy_repository.rb
  db/migrate/20230330213046_add_locale_to_user.rb
  db/migrate/20230330213157_init_value_locale_to_user.rb
  db/schema.rb
  test/controllers/web/resumes_controller_test.rb
  test/fixtures/resumes.yml
  test/fixtures/users.yml
  test/fixtures/vacancies.yml
Due: bundle exec rubocop

fix
  app/controllers/web/vacancies_controller.rb
Due: bundle exec rubocop

fix (#504)
  app/controllers/web/vacancies_controller.rb
Due: bundle exec rubocop

fix show resume
  app/controllers/web/home_controller.rb
  app/controllers/web/resumes_controller.rb
  app/repositories/resume_repository.rb
Due: bundle exec rubocop

fix show resume (#505)
  app/controllers/web/home_controller.rb
  app/controllers/web/resumes_controller.rb
  app/repositories/resume_repository.rb
Due: bundle exec rubocop

update deps and improve makefile
  Gemfile
  Gemfile.lock
  Makefile
Due: none

update ruby v
  .ruby-version
  Dockerfile
  bundle/config/config
Due: none

update ruby v (#506)
  .ruby-version
  Dockerfile
  bundle/config/config
Due: none

fix-locale-in-resume
  app/controllers/web/omniauth_callbacks_controller.rb
  db/migrate/20230407122355_setup_locale.rb
  db/schema.rb
Due: bundle exec rubocop

Fix chenge user locale (#508)
  app/controllers/web/omniauth_callbacks_controller.rb
  db/migrate/20230407122355_setup_locale.rb
  db/schema.rb
Due: bundle exec rubocop

bundle to .gitignore
  .gitignore
  bundle/config/config
Due: none

update locale resume
  db/migrate/20230407133244_set_up_ru_locale_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop

update locale resume (#510)
  db/migrate/20230407133244_set_up_ru_locale_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop

add openapi
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/initializers/openapi.rb
Due: bundle exec rubocop

fix tests
  .env.example
  config/initializers/openapi.rb
Due: bundle exec rubocop

fix tests (#513)
  .env.example
  config/initializers/openapi.rb
Due: bundle exec rubocop

fix date interval rake task
  lib/tasks/archive_vacancies_older_two_weeks.rake
  test/fixtures/vacancies.yml
  test/tasks/archeive_vacancies_test.rb
Due: bundle exec rubocop

fix date interval rake task (#515)
  lib/tasks/archive_vacancies_older_two_weeks.rake
  test/fixtures/vacancies.yml
  test/tasks/archeive_vacancies_test.rb
Due: bundle exec rubocop

implement openAI
  .env.example
  .env.test
  Gemfile
  Gemfile.lock
  app/controllers/web/account/resumes_controller.rb
  app/jobs/open_ai_job.rb
  app/lib/application_container.rb
  app/lib/open_ai_helper.rb
  app/lib/open_ai_helper_stub.rb
  app/models/resume/answer.rb
  app/services/resume_auto_answer_service.rb
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  db/migrate/20230416145907_add_evaluated_open_ai_to_resumes.rb
  db/schema.rb
  make-compose.mk
  test/controllers/web/account/resumes_controller_test.rb
  test/fixtures/users.yml
  test/jobs/open_ai_job_test.rb
  test/test_helper.rb
Due: bundle exec rubocop

implement openAI (#516)
  .env.example
  .env.test
  Gemfile
  Gemfile.lock
  app/controllers/web/account/resumes_controller.rb
  app/jobs/open_ai_job.rb
  app/lib/application_container.rb
  app/lib/open_ai_helper.rb
  app/lib/open_ai_helper_stub.rb
  app/models/resume/answer.rb
  app/services/resume_auto_answer_service.rb
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  db/migrate/20230416145907_add_evaluated_open_ai_to_resumes.rb
  db/schema.rb
  make-compose.mk
  test/controllers/web/account/resumes_controller_test.rb
  test/fixtures/users.yml
  test/jobs/open_ai_job_test.rb
  test/test_helper.rb
Due: bundle exec rubocop

fix command openAI
  config/locales/en.yml
  config/locales/ru.yml
Due: none

fix command openAI (#517)
  config/locales/en.yml
  config/locales/ru.yml
Due: none

fix email sending
  app/services/resume_auto_answer_service.rb
  app/views/answer_comment_mailer/new_comment_email.en.html.slim
  app/views/answer_comment_mailer/new_comment_email.ru.html.slim
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix email sending (#519)
  app/services/resume_auto_answer_service.rb
  app/views/answer_comment_mailer/new_comment_email.en.html.slim
  app/views/answer_comment_mailer/new_comment_email.ru.html.slim
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix show comment form
  app/views/web/resumes/show.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix show comment form (#520)
  app/views/web/resumes/show.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

truncate markdown in last answers and add system prompt for openAI
  app/lib/open_ai_helper.rb
  app/views/layouts/shared/_last_answers.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec rubocop
