Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

update back deps
  Gemfile.lock
  app/models/resume.rb
  app/models/user.rb
  app/models/vacancy.rb
Due: bundle exec rubocop

update ruby version file
  .ruby-version
Due: none

fix ruby version in Docker
  .env.example
  Dockerfile
  Makefile
  README.md
  docker-compose.yml
  make-compose.mk
Due: none

Update README.md
  README.md
Due: none

update ruby version in docker
  Dockerfile
Due: none

rollback ransack version to 3.2.1
  Gemfile
  Gemfile.lock
  app/models/resume.rb
  app/models/user.rb
  app/models/vacancy.rb
Due: bundle exec rubocop

add delimiter in tags
  app/helpers/application_helper.rb
  app/views/web/shared/_resume_filter.html.slim
  config/initializers/acts_as_taggable.rb
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix docker
  Dockerfile
  Makefile
  docker-compose.yml
Due: none

remove forvarded ports
  README.md
  docker-compose.yml
Due: none

remove extra line breaks in text field
  app/javascript/entrypoints/application.js
  app/javascript/scripts/markdownEditor.js
  app/javascript/stylesheets/application.scss
Due: npx stylelint

configured eslint and fix code
  .eslintignore
  .eslintrc.yml
  Makefile
  app/javascript/entrypoints/application.js
  app/javascript/scripts/selectVacancyFilter.js
  make-compose.mk
  package-lock.json
  package.json
Due: none

fix code after linted
  app/javascript/entrypoints/application.js
  app/javascript/scripts/markdownEditor.js
Due: none

resolve conflict
  app/javascript/entrypoints/application.js
  app/javascript/scripts/selectVacancyFilter.js
  config/initializers/acts_as_taggable.rb
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop

default language changed to ru
  app/controllers/application_controller.rb
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/locales_controller.rb
  config/application.rb
  test/test_helper.rb
Due: bundle exec rubocop

add validator and test
  app/controllers/web/account/resumes_controller.rb
  app/forms/web/account/resume_form.rb
  app/validators/direction_list_validator.rb
  app/views/web/shared/_resume_form.html.slim
  config/initializers/constants.rb
  config/locales/ru.inputs.yml
  test/controllers/web/account/resumes_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix typo
  config/locales/ru.yml
Due: none

Locale switch and translations (#445)
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Makefile
  app/controllers/application_controller.rb
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/admin/resumes_controller.rb
  app/controllers/web/admin/users_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/devise/registrations_controller.rb
  app/controllers/web/devise/sessions_controller.rb
  app/controllers/web/locales_controller.rb
  app/lib/notifications_helper.rb
  app/views/layouts/shared/_footer.html.slim
  app/views/layouts/shared/_nav.html.slim
  app/views/web/employments/show.html.slim
  app/views/web/pages/about.en.html.slim
  config/application.rb
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/en.flash.yml
  config/locales/en.helpers.yml
  config/locales/en.layouts.yml
  config/locales/en.time.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/ru.views.yml
  config/locales/simple_form.en.yml
  config/routes.rb
  test/controllers/web/account/newsletters_controller_test.rb
  test/controllers/web/account/profiles_controller_test.rb
  test/controllers/web/locales_controller_test.rb
  test/test_helper.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

set default locale to ru
  app/controllers/web/application_controller.rb
  config/routes.rb
Due: bundle exec rubocop

update back deps
  Gemfile.lock
Due: none

add frendly redirect
  app/controllers/web/locales_controller.rb
Due: bundle exec rubocop

setup locale in devise controllers
  app/controllers/web/devise/confirmations_controller.rb
  app/controllers/web/devise/passwords_controller.rb
  app/controllers/web/devise/unlocks_controller.rb
  config/routes.rb
Due: bundle exec rubocop

fix missing translate
  config/locales/en.yml
  config/locales/simple_form.en.yml
Due: none

fix missing
  config/locales/en.views.yml
  config/locales/simple_form.en.yml
Due: none

add status response
  app/controllers/web/account/newsletters_controller.rb
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/admin/resumes_controller.rb
  app/controllers/web/admin/users_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/controllers/web/answers/comments_controller.rb
  app/controllers/web/resumes/answers_controller.rb
  app/controllers/web/resumes/comments_controller.rb
  test/controllers/web/answers/comments_controller_test.rb
  test/controllers/web/resumes/answers_controller_test.rb
  test/controllers/web/resumes/comments_controller_test.rb
Due: bundle exec rubocop

fix typos
  config/locales/ru.views.yml
Due: none

add locale to emails
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  app/views/resume_comment_mailer/new_comment_email.en.html.slim
  app/views/resume_comment_mailer/new_comment_email.ru.html.slim
Due: bundle exec slim-lint app/views/

fix missing transalte
  config/locales/en.yml
Due: none

fix redirect after signin
  app/controllers/web/omniauth_callbacks_controller.rb
Due: bundle exec rubocop

add migration archive old vacancies
  db/migrate/20230221221505_archive_vacancies_older_two_weeks.rb
  db/schema.rb
Due: bundle exec rubocop

fix migration and add task
  db/migrate/20230221221505_archive_vacancies_older_two_weeks.rb
  lib/tasks/archive_vacancies_older_two_weeks.rake
  test/fixtures/vacancies.yml
  test/tasks/archeive_vacancies_test.rb
Due: bundle exec rubocop

fix redirect
  app/controllers/web/devise/sessions_controller.rb
Due: bundle exec rubocop

fix redirect signin and signout
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/devise/sessions_controller.rb
  app/controllers/web/omniauth_callbacks_controller.rb
Due: bundle exec rubocop

refactoring method extract_locale_from_path
  app/controllers/concerns/locale_concern.rb
Due: bundle exec rubocop

fix flash message
  app/controllers/web/devise/registrations_controller.rb
  app/views/devise/confirmations/new.html.slim
  app/views/devise/passwords/edit.html.slim
  app/views/devise/passwords/new.html.slim
  app/views/devise/registrations/edit.html.slim
  app/views/devise/registrations/new.html.slim
  app/views/devise/unlocks/new.html.slim
  app/views/layouts/devise.html.slim
  config/locales/devise.en.yml
  config/locales/devise.ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix translation
  config/locales/devise.ru.yml
Due: none

Revert "fix redirect"
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/omniauth_callbacks_controller.rb
Due: bundle exec rubocop

fix schema
  db/schema.rb
Due: bundle exec rubocop

enable mark down
  app/javascript/entrypoints/application.js
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec slim-lint app/views/
