Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

add progress
  app/views/web/account/careers/members/_career_members.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

add validator tag for vacancy
  app/forms/web/account/vacancy_form.rb
  app/forms/web/admin/vacancy_form.rb
  app/validators/vacancy_direction_list_validator.rb
  config/locales/en.inputs.yml
  config/locales/ru.inputs.yml
Due: bundle exec rubocop

rename tags
  db/migrate/20230823112607_rename_tags_vacancy.rb
  db/schema.rb
Due: bundle exec rubocop

fix migration
  db/migrate/20230823112607_rename_tags_vacancy.rb
Due: bundle exec rubocop

fix
  db/migrate/20230823112607_rename_tags_vacancy.rb
Due: bundle exec rubocop

add distinct
  app/controllers/web/admin/careers_controller.rb
  app/views/web/admin/careers/_steps_list.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/controllers/web/admin/careers_controller.rb
Due: bundle exec rubocop

add uniq
  app/controllers/web/admin/careers_controller.rb
Due: bundle exec rubocop

fix rout
  config/routes.rb
Due: bundle exec rubocop

fix rout agan
  config/routes.rb
Due: bundle exec rubocop

add make command
  make-services-app.mk
Due: none

update deps
  Gemfile.lock
Due: none

improve styles on vacancy page
  app/views/web/vacancies/show.html.slim
Due: bundle exec slim-lint app/views/

add link to hexlet in footer
  app/views/layouts/shared/_footer.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint app/views/

fix translation
  config/locales/admin/ru.yml
Due: none

fix header
  app/views/web/admin/careers/_menu.html.slim
  app/views/web/admin/careers/edit.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

add habr client
  .env.test
  app/lib/habr_client.rb
Due: bundle exec rubocop

download vacansies from habr
  .rubocop.yml
  app/helpers/application_helper.rb
  app/lib/habr_client.rb
  app/models/vacancy.rb
  app/views/web/shared/_vacancies.html.slim
  app/views/web/vacancies/index.rss.builder
  app/views/web/vacancies/show.html.slim
  db/migrate/20230905074332_add_column_external_id_to_vacancies.rb
  db/migrate/20230905074739_add_index_external_id_to_vacancies.rb
  db/migrate/20230905075136_add_column_kind_to_vacancies.rb
  db/schema.rb
  lib/tasks/vacancies.rake
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/lib/habr_client.rb
Due: bundle exec rubocop

remove sckip validation
  app/models/vacancy.rb
Due: bundle exec rubocop

fix missing translation
  config/locales/admin/ru.yml
Due: none

Extended support of podman-compose
  Makefile
  make-services-app-docker.mk
  make-services-app-podman.mk
  make-services-app.mk
Due: none

Add podman documentation, fix docker docs
  README.md
Due: none

Extended podman support (#668)
  Makefile
  README.md
  make-services-app-docker.mk
  make-services-app-podman.mk
  make-services-app.mk
Due: none

Add tab_careers to en.views.yml
  config/locales/en.views.yml
Due: none

Remove trailing whitespaces
  config/locales/admin/ru.yml
  config/locales/en.views.yml
Due: none

Habr vacancies (#666)
  .rubocop.yml
  app/helpers/application_helper.rb
  app/lib/habr_client.rb
  app/models/vacancy.rb
  app/views/web/shared/_vacancies.html.slim
  app/views/web/vacancies/index.rss.builder
  app/views/web/vacancies/show.html.slim
  db/migrate/20230905074332_add_column_external_id_to_vacancies.rb
  db/migrate/20230905074739_add_index_external_id_to_vacancies.rb
  db/migrate/20230905075136_add_column_kind_to_vacancies.rb
  db/schema.rb
  lib/tasks/vacancies.rake
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix tab_careers (#669)
  config/locales/admin/ru.yml
  config/locales/en.views.yml
Due: none

fix translation
  config/locales/ru.views.yml
Due: none

add filter for vacancies
  app/models/vacancy.rb
  app/views/web/admin/vacancies/_search_form.html.slim
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

update kind field
  db/migrate/20230908124418_update_kind_for_vacancies.rb
  db/schema.rb
Due: bundle exec rubocop

add null constrain
  db/migrate/20230908131913_add_nill_constrain_to_vacancies.rb
  db/schema.rb
  test/fixtures/vacancies.yml
Due: bundle exec rubocop

add validation
  app/models/vacancy.rb
Due: bundle exec rubocop

fix rake tasck
  lib/tasks/vacancies.rake
Due: bundle exec rubocop

add var to env.example
  .env.example
Due: none

fix redirect back
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

add typoreporter
  app/views/layouts/application.html.slim
  app/views/layouts/deps/_typos.html.slim
Due: bundle exec slim-lint app/views/

fix query in presenter
  app/models/career/member.rb
  app/presenters/career/member_presenter.rb
Due: bundle exec rubocop

fix query in presenter (#672)
  app/models/career/member.rb
  app/presenters/career/member_presenter.rb
Due: bundle exec rubocop

update evaluated state for resume
  db/migrate/20230918153947_update_state_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop
