Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

fix method
  app/presenters/user_presenter.rb
Due: bundle exec rubocop

notification
  app/controllers/web/account/notifications_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/mutators/career/member_mutator.rb
  app/policies/notification_policy.rb
  app/presenters/user_presenter.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/web/account/notifications/index.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.flash.yml
  config/locales/en.notification.yml
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.flash.yml
  config/locales/ru.notifications.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  test/controllers/web/account/notifications_controller_test.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/fixtures/notifications.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove method in user presenter && add has_many in user model
  app/models/user.rb
  app/presenters/user_presenter.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/web/account/notifications/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

notification (#607)
  app/controllers/web/account/notifications_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/models/user.rb
  app/mutators/career/member_mutator.rb
  app/policies/notification_policy.rb
  app/views/layouts/shared/_nav.html.slim
  app/views/web/account/notifications/index.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.flash.yml
  config/locales/en.notification.yml
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.flash.yml
  config/locales/ru.notifications.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  test/controllers/web/account/notifications_controller_test.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/fixtures/notifications.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix button && confirm messages
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/resumes/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix
  app/views/web/admin/careers/_item_step_fields.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/home/index.html.slim
  app/views/web/admin/users/index.html.slim
  app/views/web/admin/vacancies/index.html.slim
Due: bundle exec slim-lint app/views/

add menu edit
  app/views/web/admin/careers/_menu.html.slim
  app/views/web/admin/careers/edit.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/new.html.slim
Due: bundle exec slim-lint app/views/

update button archive
  app/views/web/admin/careers/_users.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

add locale for the placeholder
  config/locales/simple_form.en.yml
Due: none

add locale for the placeholder (#625)
  config/locales/simple_form.en.yml
Due: none

fix
  app/views/web/admin/careers/_item_step_fields.html.slim
  app/views/web/admin/careers/show.html.slim
Due: bundle exec slim-lint app/views/

add headers && hide show archived resume
  app/controllers/web/admin/resumes_controller.rb
  app/views/web/admin/home/_menu.html.slim
  app/views/web/admin/home/index.html.slim
  app/views/web/admin/resumes/index.html.slim
  app/views/web/admin/users/edit.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix translation
  config/locales/en.activerecord.yml
  config/locales/en.layouts.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.layouts.yml
Due: none

refresh admin-panel (#603)
  app/controllers/web/admin/resumes_controller.rb
  app/views/web/admin/careers/_item_step_fields.html.slim
  app/views/web/admin/careers/_menu.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/_users.html.slim
  app/views/web/admin/careers/edit.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/new.html.slim
  app/views/web/admin/careers/show.html.slim
  app/views/web/admin/home/_menu.html.slim
  app/views/web/admin/home/index.html.slim
  app/views/web/admin/resumes/index.html.slim
  app/views/web/admin/users/edit.html.slim
  app/views/web/admin/users/index.html.slim
  app/views/web/admin/vacancies/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add state to filter form
  app/controllers/web/admin/resumes_controller.rb
  app/models/resume.rb
  app/views/web/admin/resumes/_search_form.html.slim
  app/views/web/admin/resumes/index.html.slim
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove old controller
  app/controllers/web/admin/careers/steps_controller.rb
Due: bundle exec rubocop

steps admin panel
  app/controllers/web/admin/career_steps_controller.rb
  app/controllers/web/admin/careers_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/career_steps/_careers.html.slim
  app/views/web/admin/career_steps/_form.html.slim
  app/views/web/admin/career_steps/_menu.html.slim
  app/views/web/admin/career_steps/edit.html.slim
  app/views/web/admin/career_steps/index.html.slim
  app/views/web/admin/career_steps/new.html.slim
  app/views/web/admin/career_steps/show.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/show.html.slim
  app/views/web/admin/careers/steps/edit.html.slim
  app/views/web/admin/careers/steps/new.html.slim
  app/views/web/admin/careers/steps/show.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/career_steps_controller_test.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove old tests
  app/views/web/admin/career_steps/edit.html.slim
  test/controllers/web/admin/careers/steps_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove private method in career step controllers
  app/controllers/web/admin/career_steps_controller.rb
Due: bundle exec rubocop

fix
  app/views/web/admin/career_steps/_careers.html.slim
  app/views/web/admin/career_steps/_menu.html.slim
  app/views/web/admin/career_steps/edit.html.slim
  app/views/web/admin/career_steps/index.html.slim
  app/views/web/admin/career_steps/new.html.slim
  app/views/web/admin/career_steps/show.html.slim
  app/views/web/admin/careers/_steps.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

fix
  app/views/web/admin/career_steps/_careers.html.slim
  app/views/web/admin/career_steps/_menu.html.slim
  app/views/web/admin/career_steps/edit.html.slim
  app/views/web/admin/career_steps/index.html.slim
  app/views/web/admin/career_steps/new.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

redisign routs and controller step
  app/controllers/web/admin/careers/steps_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/career_steps/_menu.html.slim
  app/views/web/admin/careers/_item_step_fields.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/steps/_careers.html.slim
  app/views/web/admin/careers/steps/_form.html.slim
  app/views/web/admin/careers/steps/_menu.html.slim
  app/views/web/admin/careers/steps/edit.html.slim
  app/views/web/admin/careers/steps/index.html.slim
  app/views/web/admin/careers/steps/new.html.slim
  app/views/web/admin/careers/steps/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix flash maessages
  config/locales/admin/en.flash.yml
  config/locales/admin/ru.flash.yml
Due: none

fix
  app/controllers/web/admin/careers/steps_controller.rb
Due: bundle exec rubocop

Add support of podman-compose
  Makefile
  make-podman-compose.mk
Due: none

Explicit call of docker-compose
  make-compose.mk
Due: none

Fix header translation in edit comment recommendation section
  config/locales/en.views.yml
Due: none

Fix header translation in edit comment recommendation section (#632)
  config/locales/en.views.yml
Due: none

Fix command name
  make-podman-compose.mk
Due: none

steps admin panel (#610)
  app/controllers/web/admin/careers/steps_controller.rb
  app/controllers/web/admin/careers_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/careers/_item_step_fields.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/show.html.slim
  app/views/web/admin/careers/steps/_careers.html.slim
  app/views/web/admin/careers/steps/_menu.html.slim
  app/views/web/admin/careers/steps/edit.html.slim
  app/views/web/admin/careers/steps/index.html.slim
  app/views/web/admin/careers/steps/new.html.slim
  app/views/web/admin/careers/steps/show.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.yml
  config/routes.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix vacancy_filter fields order
  app/views/web/shared/_vacancy_filter.html.slim
Due: bundle exec slim-lint app/views/

Add support of podman compose (#631)
  Makefile
  make-compose.mk
  make-podman-compose.mk
Due: none

add tests
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/controllers/web/admin/career_users_controller_test.rb
  test/factories/career/members.rb
Due: bundle exec rubocop

add translation
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: none

Implement a separate interface for adding a student (index with filters and forms)
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/career_users_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/repositories/user_repository.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/career_users/_active_careers.html.slim
  app/views/web/admin/career_users/_add_user_form.html.slim
  app/views/web/admin/career_users/_archived_careers.html.slim
  app/views/web/admin/career_users/_finished_careers.html.slim
  app/views/web/admin/career_users/_search_form.html.slim
  app/views/web/admin/career_users/index.html.slim
  app/views/web/admin/career_users/show.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add placeholder
  app/views/web/admin/career_users/_search_form.html.slim
Due: bundle exec slim-lint app/views/

add search field from career
  app/controllers/web/admin/career_users_controller.rb
  app/views/web/admin/career_users/_search_form.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/career_users_controller.rb
  app/models/career/member.rb
  app/views/web/admin/career_member_users/_form.html.slim
  app/views/web/admin/career_member_users/new.html.slim
  app/views/web/admin/career_users/_menu.html.slim
  app/views/web/admin/career_users/index.html.slim
  app/views/web/admin/career_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/routes.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix layout
  app/views/web/admin/career_member_users/_form.html.slim
  app/views/web/admin/career_users/show.html.slim
Due: bundle exec slim-lint app/views/

add email send in career_member_users controller
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
