Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

add browser
  Gemfile
  Gemfile.lock
  package-lock.json
Due: none

remove rollbar
  Gemfile
  config/initializers/rollbar.rb
  package-lock.json
Due: bundle exec rubocop

update deps
  Gemfile.lock
  package-lock.json
  package.json
Due: none

fix end file
  config/locales/en.time.yml
Due: none

add teranslations
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/en.flash.yml
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.layouts.yml
  config/locales/simple_form.en.yml
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

locale controller added
  app/controllers/web/locales_controller.rb
Due: bundle exec rubocop

locale concern added
  app/controllers/concerns/locale_concern.rb
Due: bundle exec rubocop

translations added and changed
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/en.flash.yml
  config/locales/en.helpers.yml
  config/locales/en.layouts.yml
  config/locales/en.time.yml
  config/locales/en.views.yml
  config/locales/simple_form.en.yml
Due: none

default language changed, added available locales
  config/application.rb
Due: bundle exec rubocop

locale concern included
  app/controllers/web/application_controller.rb
  app/controllers/web/devise/registrations_controller.rb
  app/controllers/web/devise/sessions_controller.rb
Due: bundle exec rubocop

added switch locale button
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint app/views/

default url options added
  app/controllers/application_controller.rb
Due: bundle exec rubocop

translation fot footer links added
  config/locales/ru.layouts.yml
Due: none

locale scope added
  config/routes.rb
Due: bundle exec rubocop

lint fix
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint app/views/

made links text and href through i18n
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint app/views/

part of test errors fixed
  app/mailers/application_mailer.rb
  test/test_helper.rb
Due: bundle exec rubocop

moved config options to environment/test.rb
  app/mailers/application_mailer.rb
  config/environments/test.rb
  test/test_helper.rb
Due: bundle exec rubocop

lint fix
  app/mailers/application_mailer.rb
  test/test_helper.rb
Due: bundle exec rubocop

added ru locale for test
  Makefile
Due: none

lint fix
  app/controllers/application_controller.rb
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/locales_controller.rb
  config/application.rb
  config/routes.rb
Due: bundle exec rubocop

added locale param to urls, test errors fixed
  app/lib/notifications_helper.rb
  config/environments/test.rb
  test/controllers/web/account/newsletters_controller_test.rb
  test/controllers/web/account/profiles_controller_test.rb
  test/test_helper.rb
Due: bundle exec rubocop

set default locale to ru
  config/application.rb
Due: bundle exec rubocop

Delete custom.md
  .github/ISSUE_TEMPLATE/custom.md
Due: none

lint fix
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint app/views/

Delete bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Delete feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Issue template added
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Due: none

setup redirect
  .rubocop.yml
  Gemfile
  Gemfile.lock
  Makefile
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
  app/controllers/web/admin/resumes_controller.rb
  app/controllers/web/admin/users_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/locales_controller.rb
  app/lib/notifications_helper.rb
  config/application.rb
  test/controllers/web/locales_controller_test.rb
  test/test_helper.rb
Due: bundle exec rubocop

lint fix
  app/views/web/employments/show.html.slim
  app/views/web/pages/about.en.html.slim
  config/locales/en.layouts.yml
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix displayed select
  app/helpers/application_helper.rb
  app/javascript/entrypoints/application.js
  app/javascript/scripts/selectVacancyFilter.js
  app/views/web/shared/_resume_filter.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

[#453] fix dropmenu admin
  app/views/web/admin/home/index.html.slim
Due: bundle exec slim-lint app/views/

[#453] fix dropmenu admin
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/home/index.html.slim
Due: bundle exec slim-lint app/views/

add maxlength on input
  app/helpers/application_helper.rb
  app/views/web/shared/_resume_form.html.slim
  config/locales/simple_form.ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

allow url with slish in vacancy filter
  config/routes.rb
  test/controllers/web/vacancy_filters_controller_test.rb
Due: bundle exec rubocop

resolve conflict
  config/routes.rb
Due: bundle exec rubocop

fix ruby version
  .ruby-version
Due: none

update ruby version
  Gemfile
  Gemfile.lock
Due: none
