Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

fix params method
  app/jobs/event_sender_job.rb
Due: bundle exec rubocop

Send event ac part2 (#699)
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/jobs/event_sender_job.rb
  app/lib/n8n_client_stub.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/controllers/web/admin/careers/members_controller_test.rb
Due: bundle exec rubocop

add filter and display career path field on the steps page
  app/controllers/web/admin/careers/steps_controller.rb
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_filter.html.slim
  app/views/web/admin/careers/steps/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

change separator (html br to comma)
  app/views/web/admin/careers/steps/index.html.slim
Due: bundle exec slim-lint app/views/

add platform
  Gemfile.lock
Due: none

add locale to career track filter
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

join translates to one key
  config/locales/admin/ru.yml
Due: none

remove unnecessary .all
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

improve styles
  app/views/web/admin/careers/steps/index.html.slim
Due: bundle exec slim-lint app/views/

add locale to career track filter (#706)
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

add filter and display career path on the steps page (#705)
  app/controllers/web/admin/careers/steps_controller.rb
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_filter.html.slim
  app/views/web/admin/careers/steps/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add history from KT
  app/models/career/member/version.rb
  test/factories/career/member/versions.rb
Due: bundle exec rubocop

fix create career_member
  app/mutators/career/member_mutator.rb
Due: bundle exec rubocop

add history from career_member
  app/models/career/member.rb
  app/models/career/member/version.rb
  db/migrate/20231130162228_create_career_member_versions.rb
  db/schema.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/factories/career/member/versions.rb
Due: bundle exec rubocop

add fixtures versions
  test/fixtures/career/member/versions.yml
Due: none

add mark_as_outdated
  config/initializers/active_record.rb
Due: bundle exec rubocop

create migration add_not_null_constrain_column_name_to_resume
  db/migrate/20231208124808_add_not_null_constrain_column_name_to_resume.rb
  db/schema.rb
Due: bundle exec rubocop

create migration add_not_null_constrain_to_resume_columns_github_url_summary_skills_description
  db/migrate/20231208125741_add_not_null_constrain_to_resume_columns_github_url_summary_skills_description.rb
  db/schema.rb
Due: bundle exec rubocop

improve model resume
  app/models/resume.rb
Due: bundle exec rubocop

fix redirect after update
  app/controllers/web/admin/resumes_controller.rb
Due: bundle exec rubocop

update contact_email resume
  db/migrate/20231219213533_update_contact_email_from_resume.rb
  db/schema.rb
Due: bundle exec rubocop

add constrain on contact_email
  app/models/resume.rb
  db/migrate/20231219215718_add_constrain_not_null_contact_email_from_resume.rb
  db/schema.rb
  test/factories/resumes.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop

update form
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/models/resume.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  test/factories/resumes.rb
  test/factories/sequences.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

exept serialize
  app/controllers/web/resumes/pdfs_controller.rb
  app/models/resume.rb
  app/services/resume_auto_answer_service.rb
Due: bundle exec rubocop

awards_descriptions deprecated
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/models/resume.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  test/factories/resumes.rb
  test/factories/sequences.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add column to resume
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.views.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  db/migrate/20231208110758_add_columns_to_resume.rb
  test/factories/resumes.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix base layout
  app/views/web/resumes/pdfs/base.slim
Due: none

improve layout resume
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.views.yml
  test/fixtures/resumes.yml
Due: bundle exec slim-lint app/views/

improve contact info
  app/controllers/web/resumes/pdfs_controller.rb
  app/controllers/web/resumes_controller.rb
  app/models/resume.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix test
  test/factories/resumes.rb
  test/factories/sequences.rb
Due: bundle exec rubocop

fix resume
  app/views/web/resumes/_information.html.slim
Due: bundle exec slim-lint app/views/

fix
  app/views/web/resumes/_information.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

improve resume.pdf
  app/controllers/web/resumes/pdfs_controller.rb
  app/views/web/resumes/pdfs/base.slim
  config/locales/en.views.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop

add new fild to evaluated resume
  app/services/resume_auto_answer_service.rb
Due: bundle exec rubocop

move contacts
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
Due: bundle exec slim-lint app/views/

fix contact info
  app/controllers/web/resumes/pdfs_controller.rb
  app/controllers/web/resumes_controller.rb
  app/models/resume.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

rename column
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  db/migrate/20231208110758_add_columns_to_resume.rb
  test/factories/resumes.rb
  test/factories/sequences.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Improve resume (#708)
  app/controllers/web/resumes/pdfs_controller.rb
  app/forms/web/account/resume_form.rb
  app/forms/web/admin/resume_form.rb
  app/models/resume.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
  app/views/web/resumes/show.html.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.views.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.views.yml
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
  db/migrate/20231208110758_add_columns_to_resume.rb
  test/factories/resumes.rb
  test/factories/sequences.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

bug fix
  app/views/web/resumes/_information.html.slim
  app/views/web/resumes/pdfs/base.slim
Due: bundle exec slim-lint app/views/

fix resume form
  app/views/web/shared/_resume_form.html.slim
Due: bundle exec slim-lint app/views/

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
