Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

url through slug
  app/controllers/web/admin/application_controller.rb
  app/controllers/web/admin/careers/application_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/controllers/web/admin/careers/steps_controller.rb
  app/controllers/web/admin/careers_controller.rb
  app/controllers/web/careers/application_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/views/web/account/careers/members/_members.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/_users.html.slim
  app/views/web/admin/careers/edit.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/members/new.html.slim
  app/views/web/admin/careers/show.html.slim
  app/views/web/admin/careers/steps/edit.html.slim
  app/views/web/careers/members/_career_info.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/users/_careers.html.slim
  test/controllers/web/admin/careers/members_controller_test.rb
  test/controllers/web/admin/careers/steps_controller_test.rb
  test/controllers/web/admin/careers_controller_test.rb
  test/controllers/web/careers/memebers_controller_test.rb
  test/controllers/web/careers/steps/members_controler_test.rb
  test/controllers/web/careers_controller_test.rb
  test/factories/careers.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

resolve conflict
  test/controllers/web/careers/steps/members_controler_test.rb
Due: bundle exec rubocop

side bar menu admin
  app/helpers/application_helper.rb
  app/views/layouts/web/admin/application.html.slim
  config/locales/admin/en.layouts.yml
  config/locales/admin/ru.layouts.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add linck edit step to form
  app/views/web/admin/careers/_item_step_fields.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

fix
  app/views/layouts/shared/_footer.html.slim
Due: bundle exec slim-lint app/views/

refresh admin-panel
  app/views/layouts/shared/_footer.html.slim
  app/views/web/admin/careers/_steps.html.slim
  app/views/web/admin/careers/_users.html.slim
  app/views/web/admin/careers/index.html.slim
  app/views/web/admin/careers/show.html.slim
  app/views/web/admin/home/index.html.slim
  app/views/web/admin/resumes/index.html.slim
  app/views/web/admin/users/index.html.slim
  app/views/web/admin/vacancies/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix transaltion
  config/locales/en.layouts.yml
Due: none

add a logo to navbar
  app/assets/images/logo-cv-en.svg
  app/assets/images/logo-cv-ru.svg
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint app/views/

delete unused locals
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: none

add a logos to navbar (#611)
  app/assets/images/logo-cv-en.svg
  app/assets/images/logo-cv-ru.svg
  app/views/layouts/shared/_nav.html.slim
  config/locales/en.layouts.yml
  config/locales/ru.layouts.yml
Due: bundle exec slim-lint app/views/

fix format date in career info
  app/views/web/careers/members/_career_info.html.slim
  app/views/web/careers/members/show.html.slim
  config/locales/en.time.yml
  config/locales/en.views.yml
  config/locales/ru.time.yml
Due: bundle exec slim-lint app/views/

fix header career layout
  app/views/web/careers/members/_career_info.html.slim
Due: bundle exec slim-lint app/views/

Add 4 attributes to Web::Admin::ResumeForm, add flash message to admin resume controller update action, change policy check in admin resume edit view
  app/controllers/web/admin/resumes_controller.rb
  app/forms/web/admin/resume_form.rb
  app/views/web/admin/resumes/edit.html.slim
  config/locales/admin/ru.flash.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix #518. Change @resume from Resume to ResumeForm class when it fails to update
  app/controllers/web/account/resumes_controller.rb
Due: bundle exec rubocop

Add flash message for en locale
  config/locales/admin/en.flash.yml
Due: none

Add 4 attributes to Web::Admin::ResumeForm, add flash message to admin resume controller update action, change policy check in admin resume edit view (#612)
  app/controllers/web/admin/resumes_controller.rb
  app/forms/web/admin/resume_form.rb
  app/views/web/admin/resumes/edit.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/ru.flash.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix translations
  config/locales/en.activerecord.yml
Due: none

Fix #518. Change instance variable to ResumeForm class, remove unnecessary instance variable
  app/controllers/web/account/resumes_controller.rb
Due: bundle exec rubocop

Fix #518. Change @resume from Resume to ResumeForm class when it fails to update (#613)
  app/controllers/web/account/resumes_controller.rb
Due: bundle exec rubocop

format date
  app/views/web/careers/members/_career_info.html.slim
Due: bundle exec slim-lint app/views/

testing aasm_history
  Gemfile
  Gemfile.lock
  app/models/career/member.rb
  app/models/state_history.rb
  db/migrate/20230620143258_create_state_histories.rb
  db/schema.rb
  test/factories/state_histories.rb
Due: bundle exec rubocop

brought a career card to a separate parshl
  app/controllers/web/users_controller.rb
  app/views/web/account/careers/members/index.html.slim
  app/views/web/shared/_career_members.html.slim
  app/views/web/users/_careers.html.slim
  app/views/web/users/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

translation missing
  config/locales/ru.views.yml
Due: none

update method career_member_finished? && remove show oreder step in views
  app/controllers/web/careers/steps/members_controller.rb
  app/models/career/member.rb
  app/views/web/careers/members/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

#507. Add links to resumes vacancies empty lists
  app/views/web/home/index.html.slim
  app/views/web/shared/_empty.html.slim
  app/views/web/vacancies/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix n+1 query
  app/controllers/web/home_controller.rb
  app/controllers/web/vacancies_controller.rb
  app/controllers/web/vacancy_filters_controller.rb
Due: bundle exec rubocop

#507. Remove google translate links from en locale
  app/views/web/shared/_empty.html.slim
  config/locales/en.views.yml
Due: bundle exec slim-lint app/views/

progress cart career track
  app/models/career/member.rb
  app/presenters/career/member_presenter.rb
  app/views/web/shared/_career_members.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add percent simbol
  app/views/web/shared/_career_members.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

#507. Make html safe I18n locales for links in empty resume vacancies lists
  app/views/web/shared/_empty.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

#507. Add links to resumes vacancies empty lists (#622)
  app/views/web/home/index.html.slim
  app/views/web/shared/_empty.html.slim
  app/views/web/vacancies/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

refresh color button
  app/views/web/shared/_career_members.html.slim
Due: bundle exec slim-lint app/views/

add empty list for profile
  app/assets/images/toto_empty.png
  app/helpers/application_helper.rb
  app/views/web/users/_empty_list.html.slim
  app/views/web/users/_resumes.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

rename link && update link in letter && add start button in career show
  app/controllers/web/careers_controller.rb
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/web/careers/show.html.slim
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add empty list in profile
  app/views/web/shared/_career_members.html.slim
  app/views/web/users/_answers.html.slim
  app/views/web/users/_comments.html.slim
  app/views/web/users/_profile_empty_list.html.slim
  app/views/web/users/_resumes.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

add empty list for profile (#624)
  app/assets/images/toto_empty.png
  app/helpers/application_helper.rb
  app/views/web/shared/_career_members.html.slim
  app/views/web/users/_answers.html.slim
  app/views/web/users/_comments.html.slim
  app/views/web/users/_profile_empty_list.html.slim
  app/views/web/users/_resumes.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

update deps
  Gemfile.lock
  app/controllers/concerns/csv_concern.rb
  app/controllers/concerns/locale_concern.rb
  app/controllers/web/vacancy_filters_controller.rb
Due: bundle exec rubocop

add make command
  make-services-app.mk
Due: none

fix linter ofences
  app/views/kaminari/_gap.html.slim
Due: bundle exec slim-lint app/views/

rename partial && fix translations
  app/views/web/home/index.html.slim
  app/views/web/shared/_links_guides.html.slim
  app/views/web/vacancies/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/
