Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

Add libssl installation to Dockerfile for PDF generation (#691)
  Dockerfile
Due: none

Fix README.md syntax errors (#690)
  README.md
Due: none

Update resumes CSV generation
  app/controllers/web/admin/resumes_controller.rb
Due: bundle exec rubocop

fix redirect in resume controller && test
  app/controllers/web/admin/resumes_controller.rb
  app/views/web/admin/resumes/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix test
  test/controllers/web/admin/resumes_controller_test.rb
Due: bundle exec rubocop

Add export to CSV for resume at admin section (#687)
  app/controllers/web/admin/resumes_controller.rb
  app/views/web/admin/resumes/index.html.slim
  config/locales/admin/ru.yml
  test/controllers/web/admin/resumes_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix redirect logic for vacancies archive and restore
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Add fallback path for vacancies archive and restore
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

Add ability to archive and restore vacancies by admin (#686)
  app/controllers/web/admin/vacancies_controller.rb
  app/models/vacancy.rb
  app/views/web/admin/vacancies/_vacancies_table.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add page params on redirect
  app/controllers/web/admin/vacancies_controller.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop

Drop broken migrations
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
Due: bundle exec rubocop

Move render.com seeding to rake task
  README.md
  bin/render-build.sh
  db/seeds.rb
  db/seeds/render_load_fixtures.rb
  lib/tasks/render_com.rake
Due: bundle exec rubocop

Drop broken migrations (#692)
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
Due: bundle exec rubocop

add with_locale scope to admin section
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/careers/steps_controller.rb
  app/controllers/web/admin/careers_controller.rb
  app/controllers/web/admin/resumes_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/repositories/career/step_repository.rb
  app/repositories/career_repository.rb
  test/controllers/web/admin/resumes_controller_test.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop

:rocket: long period from lost student
  app/controllers/web/admin/career_member_users_controller.rb
  lib/tasks/career_track.rake
Due: bundle exec rubocop

:tada: add csv download from career track students
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

:pill: fix prefix csv file
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

Feature add render.com support2 (#685)
  .rubocop.yml
  Gemfile
  README.md
  bin/render-build.sh
  bin/render-start.sh
  bin/render_lib.sh
  config/cable.yml
  config/database.yml
  config/environments/staging.rb
  config/puma.rb
  lib/tasks/render_com.rake
Due: bundle exec rubocop

:airplane: add state to filter and table
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/_search_form.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add state to download csv
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

:bookmark: add canonical link and metatag from vacancy
  app/controllers/web/home_controller.rb
  app/controllers/web/vacancies_controller.rb
  config/locales/en.titles.yml
  config/locales/ru.titles.yml
Due: bundle exec rubocop

add requared field in profile form
  app/controllers/web/account/profiles_controller.rb
  app/forms/web/account/profile_form.rb
  app/views/web/account/profiles/_form.html.slim
  app/views/web/account/profiles/edit.html.slim
  app/views/web/account/profiles/show.html.slim
  config/routes.rb
  test/controllers/web/account/profiles_controller_test.rb
  test/fixtures/users.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add requared field to admin_user_form
  app/controllers/web/admin/users_controller.rb
  app/forms/web/account/profile_form.rb
  app/forms/web/admin/user_form.rb
  app/views/web/admin/users/_form.html.slim
  app/views/web/admin/users/edit.html.slim
  test/controllers/web/admin/users_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add requared first name and last name
  app/controllers/concerns/auth.rb
  app/controllers/web/account/profiles_controller.rb
  app/controllers/web/application_controller.rb
  app/controllers/web/omniauth_callbacks_controller.rb
  app/lib/devise_helper.rb
  app/models/guest.rb
  app/models/user.rb
  app/views/web/account/profiles/_form.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  test/controllers/web/account/newsletters_controller_test.rb
  test/controllers/web/account/notifications_controller_test.rb
  test/controllers/web/account/profiles_controller_test.rb
  test/controllers/web/account/resumes_controller_test.rb
  test/controllers/web/account/vacancies_controller_test.rb
  test/controllers/web/employments_controller_test.rb
  test/controllers/web/home_controller_test.rb
  test/controllers/web/omniauth_callbacks_controller_test.rb
  test/controllers/web/pages_controller_test.rb
  test/controllers/web/resumes_controller_test.rb
  test/controllers/web/users_controller_test.rb
  test/controllers/web/vacancies_controller_test.rb
  test/test_helper.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add last name and first name in registration form
  app/controllers/application_controller.rb
  app/views/devise/registrations/edit.html.slim
  app/views/devise/registrations/new.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add registration form
  app/controllers/web/devise/registrations_controller.rb
  app/forms/web/user_registration_form.rb
  app/views/devise/registrations/new.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove user anshlyapnikov@icloud.com
  db/migrate/20231110161632_remove_user_anshlyapnikov.rb
  db/schema.rb
Due: bundle exec rubocop

add length validation from last_name and first_name
  app/forms/web/account/profile_form.rb
  app/forms/web/admin/user_form.rb
  app/forms/web/user_registration_form.rb
Due: bundle exec rubocop

send event to active compain
  app/jobs/event_sender_job.rb
  app/lib/event_sender.rb
  app/lib/n8n_client.rb
  app/models/career/member.rb
  app/models/event.rb
  app/mutators/career/member_mutator.rb
  db/migrate/20231114203105_create_events.rb
  db/schema.rb
  test/factories/events.rb
  test/fixtures/events.yml
Due: bundle exec rubocop

add condition
  app/lib/event_sender.rb
Due: bundle exec rubocop

send event to active compain (#698)
  app/jobs/event_sender_job.rb
  app/lib/event_sender.rb
  app/lib/n8n_client.rb
  app/models/career/member.rb
  app/models/event.rb
  app/mutators/career/member_mutator.rb
  db/migrate/20231114203105_create_events.rb
  db/schema.rb
  test/factories/events.rb
  test/fixtures/events.yml
Due: bundle exec rubocop

fix url
  app/jobs/event_sender_job.rb
Due: bundle exec rubocop

add n8n_client_stub
  app/jobs/event_sender_job.rb
  app/lib/application_container.rb
  app/lib/n8n_client_stub.rb
Due: bundle exec rubocop

send_event_ac_part2
  app/controllers/web/admin/careers/members_controller.rb
  app/lib/n8n_client_stub.rb
  test/controllers/web/admin/careers/members_controller_test.rb
Due: bundle exec rubocop

send evenet part 2
  app/controllers/web/admin/career_member_users_controller.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
Due: bundle exec rubocop

remove user philimonov
  db/migrate/20231117154953_remove_user_vadim_philimonov.rb
  db/schema.rb
Due: bundle exec rubocop

add last finished_at to view
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/_users.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add email in view
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add pagination
  app/controllers/web/admin/careers_controller.rb
  app/views/web/admin/careers/_users.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add users count
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/
