Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

.lintstagedrc.json:

{
  "**/*.{rb,rake,axlsx}": "bundle exec rubocop",
  "**/*.scss": "npx stylelint",
  "**/*.html.slim": "bundle exec slim-lint app/views/"
}

fix test
  db/schema.rb
Due: bundle exec rubocop

fix margins
  .stylelintrc.yml
  app/javascript/stylesheets/application.scss
Due: npx stylelint

fix
  app/controllers/web/careers_controller.rb
  app/models/career/member.rb
  app/models/career/step/member.rb
  app/repositories/career/item_repository.rb
  app/repositories/career_repository.rb
  db/migrate/20230502075107_create_career_step_members.rb
  db/schema.rb
  test/factories/career/step/members.rb
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop

fix form
  app/models/career/step/member.rb
  app/views/web/admin/careers/new.html.slim
  config/locales/admin/ru.yml
  test/factories/career/step/members.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Fix form (#560)
  app/views/web/admin/careers/new.html.slim
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

add model member
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

add fixtures
  test/fixtures/resume/answers.yml
Due: none

fix
  app/views/web/careers/index.html.slim
Due: bundle exec slim-lint app/views/

remove index in career_step_member
  app/controllers/web/admin/careers_controller.rb
  db/schema.rb
Due: bundle exec rubocop

fix contact information in pdf
  app/controllers/web/resumes/pdfs_controller.rb
  app/models/career/step/member.rb
  app/views/web/resumes/pdfs/base.slim
  test/factories/career/step/members.rb
Due: bundle exec rubocop

fix contact in pdf
  app/controllers/web/resumes/pdfs_controller.rb
  app/models/career/step/member.rb
  app/views/web/resumes/pdfs/base.slim
  test/factories/career/step/members.rb
Due: bundle exec rubocop

Fix contacts in pdf (#564)
  app/controllers/web/resumes/pdfs_controller.rb
  app/views/web/resumes/pdfs/base.slim
Due: bundle exec rubocop

fix
  app/models/career/step/member.rb
  app/views/web/resumes/pdfs/base.slim
  test/factories/career/step/members.rb
Due: bundle exec rubocop

Fix condition (#565)
  app/views/web/resumes/pdfs/base.slim
Due: none

add fixtures (#561)
  test/fixtures/resume/answers.yml
Due: none

add filter
  app/controllers/web/home_controller.rb
  app/forms/web/resumes/search_form.rb
  app/helpers/application_helper.rb
  app/models/resume.rb
  app/models/resume/answer.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/home/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

[#522] add test-cases and checklists
  docs/checklists.md
  docs/test-cases.md
Due: none

[#522] fix requirements
  docs/requirements.md
Due: none

add helper class
  app/controllers/web/home_controller.rb
  app/helpers/application_helper.rb
  app/lib/ai_bot_helper.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/home/index.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/lib/ai_bot_helper.rb
Due: bundle exec rubocop

Add filter resume (#542)
  app/controllers/web/home_controller.rb
  app/forms/web/resumes/search_form.rb
  app/lib/ai_bot_helper.rb
  app/models/resume.rb
  app/models/resume/answer.rb
  app/services/resume_auto_answer_service.rb
  app/views/web/home/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix ofences
  app/controllers/web/admin/careers_controller.rb
  app/controllers/web/careers/members_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/models/career.rb
  app/models/career/item.rb
  app/models/career/step/member.rb
  app/repositories/career/item_repository.rb
  app/repositories/career/member_repository.rb
  app/repositories/career/step/member_repository.rb
  app/repositories/career/step_repository.rb
  app/repositories/career_repository.rb
  app/repositories/user_repository.rb
  db/migrate/20230502075107_create_career_step_members.rb
  db/migrate/20230507195055_add_uniq_index_order_to_career_items.rb
  db/schema.rb
  test/factories/career/step/members.rb
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop

remove index and fix method can_show_step_body
  app/controllers/web/careers/members_controller.rb
  app/controllers/web/careers/steps/application_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/models/career/member.rb
  app/repositories/career/item_repository.rb
  db/migrate/20230515080525_remove_index_from_career_step_members.rb
  db/schema.rb
  test/fixtures/career/steps.yml
Due: bundle exec rubocop

[#522] add test-cases and checklists
  docs/checklists.csv
  docs/checklists.md
  docs/test-cases.csv
  docs/test-cases.md
Due: none

migrete to docker compose v2
  README.md
  app/models/career/step/member.rb
  make-compose.mk
  make-services-app.mk
  test/factories/career/step/members.rb
Due: bundle exec rubocop

Migrete docker compose v2 (#567)
  README.md
  make-compose.mk
  make-services-app.mk
Due: none

fixes
  app/controllers/web/careers/members_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/models/career/member.rb
  app/mutators/career/step/member_mutator.rb
  app/repositories/career/item_repository.rb
  app/repositories/career/member_repository.rb
  app/views/web/careers/index.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/careers/show.html.slim
  db/migrate/20230516143823_remove_index_from_career_step_members.rb
  db/migrate/20230516144355_remove_index_from_career_items.rb
  db/schema.rb
  test/controllers/web/careers_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix margin in memo
  app/views/web/account/resumes/new.html.slim
Due: bundle exec slim-lint app/views/

add locale field in resume form for admin
  app/views/web/account/resumes/edit.html.slim
  app/views/web/account/resumes/new.html.slim
  app/views/web/admin/resumes/edit.html.slim
  app/views/web/shared/_resume_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: bundle exec slim-lint app/views/

fix translate
  config/locales/en.activerecord.yml
Due: none

fix locale in resune and vacancy controller
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
Due: bundle exec rubocop

fix locale in resune and vacancy controller (#570)
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/account/vacancies_controller.rb
Due: bundle exec rubocop
