Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

truncate markdown in last answers and add system prompt for openAI (#521)
  app/lib/open_ai_helper.rb
  app/views/layouts/shared/_last_answers.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec rubocop

add work and education for openAI message
  app/services/resume_auto_answer_service.rb
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
Due: bundle exec rubocop

add work and education for openAI message (#523)
  app/services/resume_auto_answer_service.rb
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
Due: bundle exec rubocop

Add docs folder
  docs/requirements.yaml
Due: none

Update requirements.yaml
  docs/requirements.yaml
Due: none

add requirements.md
  docs/requirements.md
Due: none

fix displayed answers from openAI
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/lib/markdown_renderer.rb
  app/views/web/shared/_answer.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

fix displayed answers from openAI (#525)
  Gemfile
  Gemfile.lock
  app/helpers/application_helper.rb
  app/lib/markdown_renderer.rb
  app/views/web/shared/_answer.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix show anonymus name
  app/presenters/user_presenter.rb
Due: bundle exec rubocop

fix show anonymus name (#528)
  app/presenters/user_presenter.rb
Due: bundle exec rubocop

fix crlf
  docs/requirements.yaml
Due: none

add info for user
  app/views/web/account/resumes/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

add info for user (#529)
  app/views/web/account/resumes/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix
  app/views/web/admin/careers/_users.html.slim
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

add favicon
  public/favicon.ico
Due: none

[#522] update requirements.md
  docs/requirements.md
Due: none

evaluated state resume
  .rubocop.yml
  app/controllers/web/account/resumes_controller.rb
  app/jobs/open_ai_job.rb
  app/lib/open_ai_helper.rb
  app/models/resume.rb
  app/services/resume_auto_answer_service.rb
  config/locales/ru.yml
  db/migrate/20230426193233_add_evaluated_ai_state_to_resume.rb
  db/schema.rb
  test/controllers/web/account/resumes_controller_test.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop

evaluated state resume (#532)
  .rubocop.yml
  app/controllers/web/account/resumes_controller.rb
  app/jobs/open_ai_job.rb
  app/lib/open_ai_helper.rb
  app/models/resume.rb
  app/services/resume_auto_answer_service.rb
  config/locales/ru.yml
  db/migrate/20230426193233_add_evaluated_ai_state_to_resume.rb
  db/schema.rb
  test/controllers/web/account/resumes_controller_test.rb
  test/fixtures/resumes.yml
Due: bundle exec rubocop

vacancies filter and export csv for admin
  app/controllers/concerns/csv_concern.rb
  app/controllers/web/admin/application_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/helpers/application_helper.rb
  app/helpers/model_helper.rb
  app/models/vacancy.rb
  app/views/web/admin/vacancies/_search_form.html.slim
  app/views/web/admin/vacancies/index.html.slim
  config/locales/admin/ru.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.ru.yml
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  config/locales/simple_form.ru.yml
Due: none

vacancies filter and export csv for admin (#537)
  app/controllers/concerns/csv_concern.rb
  app/controllers/web/admin/application_controller.rb
  app/controllers/web/admin/vacancies_controller.rb
  app/helpers/application_helper.rb
  app/helpers/model_helper.rb
  app/models/vacancy.rb
  app/views/web/admin/vacancies/_search_form.html.slim
  app/views/web/admin/vacancies/index.html.slim
  config/locales/admin/ru.yml
  config/locales/ru.activerecord.yml
  config/locales/simple_form.ru.yml
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

fix (#538)
  app/controllers/web/admin/vacancies_controller.rb
Due: bundle exec rubocop

add model member
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

add new migration
  db/migrate/20230413102313_create_steps.rb
  db/migrate/20230413203157_create_career_items.rb
  db/migrate/20230424111451_add_uniq_index_to_career_items.rb
  db/migrate/20230503092246_create_career_steps.rb
  db/migrate/20230503092957_add_career_step_ref_to_career_items.rb
  db/migrate/20230503093720_add_uniq_index_career_step_to_career_items.rb
  db/migrate/20230503095141_remove_uniq_index_to_career_items.rb
  db/migrate/20230503095429_remove_ref_step_to_career_items.rb
  db/schema.rb
Due: bundle exec rubocop

fix
  db/migrate/20230503095141_remove_uniq_index_from_career_items.rb
Due: bundle exec rubocop

update favicons
  app/assets/images/apple-touch-icon-precomposed.png
  app/assets/images/apple-touch-icon.png
  app/assets/images/favicon.ico
  app/views/layouts/shared/_head.html.slim
  public/apple-touch-icon.png
  public/favicon.ico
  public/icon-192.png
  public/icon-512.png
  public/icon.svg
  public/manifest.webmanifest
Due: bundle exec slim-lint app/views/

use schema load for dev & update schema
  Makefile
  db/schema.rb
Due: bundle exec rubocop

fix
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135313_add_uniq_index_career_step_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
  db/schema.rb
Due: bundle exec rubocop

fix
  app/models/career/step/member.rb
  test/factories/career/step/members.rb
Due: bundle exec rubocop

Fix migration career (#540)
  Makefile
  db/migrate/20230503134755_create_career_step.rb
  db/migrate/20230503135226_add_career_step_ref_to_career_items.rb
  db/migrate/20230503135313_add_uniq_index_career_step_to_career_items.rb
  db/migrate/20230503135657_remove_uniq_index_from_career_items.rb
  db/migrate/20230503135757_remove_ref_step_from_career_items.rb
  db/migrate/20230503140032_drop_table_steps.rb
  db/schema.rb
Due: bundle exec rubocop

add filter from resume
  app/controllers/web/admin/vacancies_controller.rb
  app/controllers/web/home_controller.rb
  app/models/career/step/member.rb
  app/models/resume.rb
  app/models/resume/answer.rb
  app/views/web/home/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
