Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

fixed sorted link
  app/views/web/admin/career_users/_careers.html.slim
Due: bundle exec slim-lint app/views/

add tests to new actions
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/controllers/web/admin/career_users_controller_test.rb
Due: bundle exec rubocop

fix scope
  app/controllers/web/admin/career_users_controller.rb
  app/repositories/user_repository.rb
Due: bundle exec rubocop

fixed
  app/controllers/web/admin/career_users_controller.rb
  app/models/user.rb
  app/repositories/user_repository.rb
  app/views/web/admin/career_users/_active_careers.html.slim
  app/views/web/admin/career_users/_archived_careers.html.slim
  app/views/web/admin/career_users/_careers.html.slim
  app/views/web/admin/career_users/_finished_careers.html.slim
  app/views/web/admin/career_users/_menu.html.slim
  app/views/web/admin/career_users/_search_form.html.slim
  app/views/web/admin/career_users/_users.html.slim
  app/views/web/admin/career_users/archived.html.slim
  app/views/web/admin/career_users/finished.html.slim
  app/views/web/admin/career_users/index.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix career_member_users controller
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/career_users_controller.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/career_member_users/_careers.html.slim
  app/views/web/admin/career_member_users/_menu.html.slim
  app/views/web/admin/career_member_users/_search_form.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/new.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  app/views/web/admin/career_users/_menu.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/controllers/web/admin/career_users_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix format date
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec slim-lint app/views/

fix show column tabel users
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
Due: bundle exec slim-lint app/views/

Fix vacancy_filter fields order (#633)
  app/views/web/shared/_vacancy_filter.html.slim
Due: bundle exec slim-lint app/views/

Implement a separate interface for adding a student (#614)
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/models/career/member.rb
  app/models/user.rb
  app/repositories/user_repository.rb
  app/views/layouts/web/admin/application.html.slim
  app/views/web/admin/career_member_users/_careers.html.slim
  app/views/web/admin/career_member_users/_form.html.slim
  app/views/web/admin/career_member_users/_menu.html.slim
  app/views/web/admin/career_member_users/_search_form.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/new.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.layouts.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.layouts.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/factories/career/members.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix pdf download
  app/views/web/resumes/pdfs/base.slim
Due: none

rename partial
  app/views/web/admin/careers/_steps_list.html.slim
  app/views/web/admin/careers/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec slim-lint app/views/

lost student in career track
  app/controllers/web/admin/career_member_users_controller.rb
  app/repositories/user_repository.rb
  app/views/web/admin/career_member_users/_menu.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/show.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

lost student in career track (#635)
  app/controllers/web/admin/career_member_users_controller.rb
  app/repositories/user_repository.rb
  app/views/web/admin/career_member_users/_menu.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/career_member_users_controller_test.rb
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add progress steps in admin panel
  app/models/career/member.rb
  app/models/user.rb
  app/presenters/career/member_presenter.rb
  app/views/web/account/careers/members/_members.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

improve text
  config/locales/ru.views.yml
Due: none

improve text (#636)
  config/locales/ru.views.yml
Due: none

racke task find lost career student
  lib/tasks/n8n_sender.rake
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/users.yml
Due: bundle exec rubocop

fix show progress column
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
Due: bundle exec slim-lint app/views/

fix show action in career_member_users
  app/controllers/web/admin/career_member_users_controller.rb
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop

fix method lost
  app/controllers/web/admin/career_member_users_controller.rb
Due: bundle exec rubocop

add client
  app/lib/n8n_client.rb
  app/lib/service_result.rb
  lib/tasks/career_track.rake
Due: bundle exec rubocop

racke task find lost career student (#638)
  app/lib/n8n_client.rb
  app/lib/service_result.rb
  lib/tasks/career_track.rake
  lib/tasks/n8n_sender.rake
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/users.yml
Due: bundle exec rubocop

fix rake task
  lib/tasks/career_track.rake
Due: bundle exec rubocop

fix n8n client
  app/lib/n8n_client.rb
Due: bundle exec rubocop

add careate vacancy to admin
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_form.html.slim
  app/views/web/admin/vacancies/_menu.html.slim
  app/views/web/admin/vacancies/edit.html.slim
  app/views/web/admin/vacancies/index.html.slim
  app/views/web/admin/vacancies/new.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add careate vacancy to admin (#639)
  app/controllers/web/admin/vacancies_controller.rb
  app/views/web/admin/vacancies/_form.html.slim
  app/views/web/admin/vacancies/_menu.html.slim
  app/views/web/admin/vacancies/edit.html.slim
  app/views/web/admin/vacancies/index.html.slim
  app/views/web/admin/vacancies/new.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
  config/routes.rb
  test/controllers/web/admin/vacancies_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix vacancy form in account
  app/views/web/account/vacancies/_form.html.slim
  app/views/web/account/vacancies/edit.html.slim
  app/views/web/account/vacancies/new.html.slim
  config/locales/en.views.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.views.yml
  config/locales/simple_form.ru.yml
Due: bundle exec slim-lint app/views/

fix missing translation
  config/locales/en.activerecord.yml
  config/locales/ru.activerecord.yml
Due: none

add button for admin
  app/views/web/resumes/show.html.slim
  app/views/web/vacancies/show.html.slim
Due: bundle exec slim-lint app/views/

add restore method and route
  app/controllers/web/admin/career_member_users_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.flash.yml
  config/locales/admin/en.yml
  config/locales/admin/ru.flash.yml
  config/locales/admin/ru.yml
  config/routes.rb
  test/controllers/web/admin/careers/members_controller_test.rb
  test/fixtures/career/members.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix interval in rake task
  lib/tasks/career_track.rake
  lib/tasks/n8n_sender.rake
Due: bundle exec rubocop

fix missing translation
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: none

rename tabs in user profile
  app/views/web/users/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

add notification when career_member finished
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/mutators/career/step/member_mutator.rb
  config/locales/en.notification.yml
  config/locales/ru.notifications.yml
  test/controllers/web/careers/steps/members_controler_test.rb
Due: bundle exec rubocop

send email when user finished career
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/views/career_member_mailer/career_member_finish.en.html.slim
  app/views/career_member_mailer/career_member_finish.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
  test/controllers/web/careers/steps/members_controler_test.rb
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

rename tabs in user profile (#642)
  app/views/web/users/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

send email when user finished career (#644)
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/views/career_member_mailer/career_member_finish.en.html.slim
  app/views/career_member_mailer/career_member_finish.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
  test/controllers/web/careers/steps/members_controler_test.rb
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

finish old step
  db/migrate/20230712072637_finished_old_step_by_feycot.rb
  db/schema.rb
Due: bundle exec rubocop

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
