Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

created lead
  app/controllers/web/leads_controller.rb
  app/models/lead.rb
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
Due: bundle exec rubocop

add uniq index
  app/controllers/web/leads_controller.rb
  app/models/lead.rb
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
  db/migrate/20230718075121_add_uniq_index_to_leads.rb
  db/schema.rb
Due: bundle exec rubocop

remove lead
  app/controllers/web/employments_controller.rb
  app/controllers/web/leads_controller.rb
  app/forms/web/lead_form.rb
  app/models/lead.rb
  app/views/web/employments/_form.html.slim
  app/views/web/employments/show.html.slim
  config/locales/en.flash.yml
  config/locales/ru.flash.yml
  config/routes.rb
  db/migrate/20230717153132_create_leads.rb
  db/migrate/20230718075121_add_uniq_index_to_leads.rb
  db/schema.rb
  test/factories/leads.rb
  test/fixtures/leads.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

hide link
  app/views/web/employments/_join_ct.html.slim
Due: bundle exec slim-lint app/views/

improve navbar styles
  app/views/layouts/shared/_nav.html.slim
Due: bundle exec slim-lint app/views/

add test key for recapcha
  .env.example
  README.md
Due: none

fix typo
  config/locales/ru.yml
Due: none

redisign sidebar menu profile
  app/views/layouts/web/account/application.html.slim
  app/views/web/careers/members/show.html.slim
Due: bundle exec slim-lint app/views/

add validate phone number
  Gemfile
  Gemfile.lock
  app/models/resume.rb
  app/validators/phone_validator.rb
Due: bundle exec rubocop

fix hint
  config/locales/simple_form.en.yml
  config/locales/simple_form.ru.yml
Due: none

fix answer email later
  app/views/resume_answer_mailer/new_answer_email.en.html.slim
  app/views/resume_answer_mailer/new_answer_email.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix graduate cards images
  app/assets/images/graduates/belocrylets.png
  app/assets/images/graduates/guba.png
  app/assets/images/graduates/kharitonova.png
  app/assets/images/graduates/masyutin.png
  app/assets/images/graduates/vasileva.png
Due: none

improve styles
  app/views/web/employments/_options.html.slim
  app/views/web/employments/_professions.html.slim
  app/views/web/employments/_reviews.html.slim
Due: bundle exec slim-lint app/views/

add anchor button
  app/views/web/employments/_join_ct.html.slim
  app/views/web/employments/_professions.html.slim
Due: bundle exec slim-lint app/views/

fix link
  app/views/web/employments/_options.html.slim
Due: bundle exec slim-lint app/views/

add custom_url_helper_concern
  app/controllers/concerns/custom_url_helpers_concern.rb
  app/helpers/application_helper.rb
  app/views/web/employments/_options.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

redisign career track in profile
  app/controllers/web/users_controller.rb
  app/presenters/career/member_presenter.rb
  app/views/web/shared/_career_members.html.slim
  app/views/web/users/_answers.html.slim
  app/views/web/users/_career_members.html.slim
  app/views/web/users/_comments.html.slim
  app/views/web/users/_profile_empty_list.html.slim
  app/views/web/users/_resumes.html.slim
  app/views/web/users/show.html.slim
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix name attribute
  app/controllers/web/admin/career_member_users_controller.rb
  config/locales/ru.activerecord.yml
Due: bundle exec rubocop

add empty list to profile
  app/assets/images/toto_welcome.jpg
  app/views/web/account/careers/members/_career_members.html.slim
  app/views/web/account/careers/members/index.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix translation
  app/views/web/account/careers/members/_career_members.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix translation
  config/locales/en.views.yml
  config/locales/ru.views.yml
Due: none

add user context in adminpanel
  app/controllers/concerns/custom_url_helpers_concern.rb
  app/controllers/web/admin/career_member_users_controller.rb
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

update deps
  Gemfile
  Gemfile.lock
Due: none

refactoring career_member_users
  app/controllers/web/admin/career_member_users_controller.rb
  app/models/career/member.rb
  app/views/web/admin/career_member_users/_search_form.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

[#654] fix locale mistakes and typos
  config/locales/devise.en.yml
  config/locales/devise.ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.flash.yml
  config/locales/en.pundit.yml
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.flash.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  config/locales/simple_form.ru.yml
Due: none

[#654] fix locale mistakes and typos (#655)
  config/locales/devise.en.yml
  config/locales/devise.ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.flash.yml
  config/locales/en.pundit.yml
  config/locales/en.views.yml
  config/locales/en.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.flash.yml
  config/locales/ru.views.yml
  config/locales/ru.yml
  config/locales/simple_form.ru.yml
Due: none

add attribute requared
  app/views/devise/sessions/new.html.slim
Due: bundle exec slim-lint app/views/

fix header table
  app/views/web/admin/career_member_users/_users.html.slim
Due: bundle exec slim-lint app/views/

refactoring career_member_users (#652)
  app/controllers/web/admin/career_member_users_controller.rb
  app/models/career/member.rb
  app/views/web/admin/career_member_users/_search_form.html.slim
  app/views/web/admin/career_member_users/_users.html.slim
  app/views/web/admin/career_member_users/archived.html.slim
  app/views/web/admin/career_member_users/finished.html.slim
  app/views/web/admin/career_member_users/index.html.slim
  app/views/web/admin/career_member_users/lost.html.slim
  app/views/web/admin/career_member_users/show.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

rename mailer mathod
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/views/career_member_mailer/career_member_finish_email.en.html.slim
  app/views/career_member_mailer/career_member_finish_email.ru.html.slim
  app/views/career_member_mailer/next_step_open_source_email.en.html.slim
  app/views/career_member_mailer/next_step_open_source_email.ru.html.slim
  config/locales/en.yml
  config/locales/ru.yml
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

events system
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
  app/lib/event_sender.rb
  app/models/career/member.rb
  app/models/event.rb
  app/models/resume/answer.rb
  app/models/resume/answer/comment.rb
  app/models/resume/comment.rb
  db/migrate/20230723125353_create_events.rb
  db/schema.rb
  test/factories/events.rb
  test/fixtures/events.yml
Due: bundle exec rubocop

add test
  app/controllers/web/admin/careers/members_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  test/controllers/web/careers/steps/members_controler_test.rb
Due: bundle exec rubocop

add comment
  app/lib/event_sender.rb
Due: bundle exec rubocop

add image
  app/assets/images/finished_kt.png
  app/assets/images/open_sourse.png
  app/assets/images/start_kt.png
  app/views/career_member_mailer/career_member_finish_email.en.html.slim
  app/views/career_member_mailer/career_member_finish_email.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/career_member_mailer/next_step_open_source_email.en.html.slim
  app/views/career_member_mailer/next_step_open_source_email.ru.html.slim
Due: bundle exec slim-lint app/views/

send email throut events
  app/controllers/web/answers/comments_controller.rb
  app/controllers/web/resumes/answers_controller.rb
  app/controllers/web/resumes/comments_controller.rb
  app/lib/email_sender.rb
  app/models/event.rb
  app/mutators/career/member_mutator.rb
  test/controllers/web/answers/comments_controller_test.rb
  test/controllers/web/resumes/answers_controller_test.rb
  test/controllers/web/resumes/comments_controller_test.rb
Due: bundle exec rubocop

fix translation
  config/locales/admin/ru.yml
Due: none

improve graduate cards
  app/views/web/employments/_cards.html.slim
  app/views/web/employments/show.html.slim
Due: bundle exec slim-lint app/views/

add state
  app/models/event.rb
  db/migrate/20230724144143_add_column_state_to_events.rb
  db/schema.rb
  test/fixtures/events.yml
Due: bundle exec rubocop

new event
  app/controllers/web/account/resumes_controller.rb
  app/controllers/web/admin/careers/members_controller.rb
  app/controllers/web/admin/careers_controller.rb
  app/controllers/web/answers/comments_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/resumes/answers_controller.rb
  app/controllers/web/resumes/comments_controller.rb
  app/lib/event_sender.rb
  app/models/event.rb
  test/controllers/web/account/resumes_controller_test.rb
  test/controllers/web/admin/careers_controller_test.rb
  test/factories/careers.rb
  test/fixtures/career/items.yml
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/events.yml
Due: bundle exec rubocop

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
