Repository Hexlet/hexlet-cv: changes, and which lint-staged commands are due for each by the changed paths.
All: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

improve translations
  app/views/web/users/show.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

add slug to step
  app/models/career/step.rb
  db/migrate/20230712111923_add_slug_to_career_step.rb
  db/migrate/20230712113745_update_slug_to_career_step.rb
  db/schema.rb
Due: bundle exec rubocop

fix
  app/forms/web/admin/career/step_form.rb
Due: bundle exec rubocop

change fixtures
  test/fixtures/career/steps.yml
Due: none

fix scope
  app/repositories/career/step_repository.rb
  app/views/career_member_mailer/career_member_finish.en.html.slim
  app/views/career_member_mailer/career_member_finish.ru.html.slim
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add uniq index
  app/forms/web/admin/career/step_form.rb
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_form.html.slim
  config/locales/ru.activerecord.yml
  db/migrate/20230712152356_add_index_slug_to_step.rb
  db/schema.rb
  test/factories/career/steps.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

remove method && add hint
  app/forms/web/admin/career/step_form.rb
  app/views/web/admin/careers/steps/_form.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add not null constrain
  db/migrate/20230713071807_add_not_null_constrain_slug_step.rb
  db/schema.rb
Due: bundle exec rubocop

url througt slug slient
  app/controllers/web/careers/application_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/views/web/careers/members/_career_info.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/careers/show.html.slim
  app/views/web/shared/_career_members.html.slim
  test/controllers/web/careers/memebers_controller_test.rb
  test/controllers/web/careers/steps/members_controler_test.rb
  test/controllers/web/careers_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

url througt slug slient (#647)
  app/controllers/web/careers/application_controller.rb
  app/controllers/web/careers/steps/members_controller.rb
  app/controllers/web/careers_controller.rb
  app/views/web/careers/members/_career_info.html.slim
  app/views/web/careers/members/show.html.slim
  app/views/web/careers/show.html.slim
  app/views/web/shared/_career_members.html.slim
  test/controllers/web/careers/memebers_controller_test.rb
  test/controllers/web/careers/steps/members_controler_test.rb
  test/controllers/web/careers_controller_test.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add slug to step (#646)
  app/forms/web/admin/career/step_form.rb
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_form.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/ru.activerecord.yml
  db/migrate/20230712111923_add_slug_to_career_step.rb
  db/migrate/20230712113745_update_slug_to_career_step.rb
  db/migrate/20230712152356_add_index_slug_to_step.rb
  db/migrate/20230713071807_add_not_null_constrain_slug_step.rb
  db/schema.rb
  test/factories/career/steps.rb
  test/fixtures/career/steps.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

rename column slug
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_form.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/ru.activerecord.yml
  db/migrate/20230712113745_update_slug_to_career_step.rb
  db/migrate/20230712152356_add_index_slug_to_step.rb
  db/migrate/20230713071807_add_not_null_constrain_slug_step.rb
  db/migrate/20230714110704_rename_column_slug_to_career_step.rb
  db/schema.rb
  test/factories/career/steps.rb
  test/fixtures/career/steps.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add notification_kind
  app/forms/web/admin/career/step_form.rb
  app/models/career/step.rb
  app/views/web/admin/careers/steps/_form.html.slim
  config/locales/admin/en.yml
  config/locales/admin/ru.yml
  config/locales/en.activerecord.yml
  config/locales/en.enumerize.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.enumerize.yml
  test/fixtures/career/steps.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add email send when next step opensource
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/models/career/step.rb
  app/mutators/career/step/member_mutator.rb
  app/views/career_member_mailer/career_member_finish.en.html.slim
  app/views/career_member_mailer/career_member_finish.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/career_member_mailer/next_step_open_source.en.html.slim
  app/views/career_member_mailer/next_step_open_source.ru.html.slim
  config/locales/en.enumerize.yml
  config/locales/en.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.yml
  test/controllers/web/careers/steps/members_controler_test.rb
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/career/steps.yml
  test/fixtures/users.yml
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

fix test
  test/controllers/web/careers/steps/members_controler_test.rb
Due: bundle exec rubocop

rename method
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
Due: bundle exec rubocop

add email send when next step opensource (#648)
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/email_sender.rb
  app/mailers/career_member_mailer.rb
  app/models/career/step.rb
  app/mutators/career/step/member_mutator.rb
  app/views/career_member_mailer/career_member_finish.en.html.slim
  app/views/career_member_mailer/career_member_finish.ru.html.slim
  app/views/career_member_mailer/new_career_member_email.en.html.slim
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  app/views/career_member_mailer/next_step_open_source.en.html.slim
  app/views/career_member_mailer/next_step_open_source.ru.html.slim
  config/locales/en.enumerize.yml
  config/locales/en.yml
  config/locales/ru.enumerize.yml
  config/locales/ru.yml
  test/controllers/web/careers/steps/members_controler_test.rb
  test/fixtures/career/members.yml
  test/fixtures/career/step/members.yml
  test/fixtures/career/steps.yml
  test/fixtures/users.yml
  test/mailers/career_member_mailer_test.rb
  test/mailers/previews/career_member_mailer_preview.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add notification kind: next step opensource
  app/controllers/web/careers/steps/members_controller.rb
  app/lib/notifications_helper.rb
  app/models/notification.rb
  app/mutators/career/step/member_mutator.rb
  config/locales/en.notification.yml
  config/locales/ru.notifications.yml
  test/controllers/web/careers/steps/members_controler_test.rb
Due: bundle exec rubocop

add links to masage
  config/locales/ru.yml
Due: none

fix form input
  app/views/web/admin/careers/steps/_form.html.slim
Due: bundle exec slim-lint app/views/

fix link in notification
  app/lib/notifications_helper.rb
Due: bundle exec rubocop

change text letter
  app/views/career_member_mailer/new_career_member_email.ru.html.slim
  config/locales/ru.yml
Due: bundle exec slim-lint app/views/

fix link
  app/views/web/careers/members/show.html.slim
Due: bundle exec slim-lint app/views/

fix link
  app/views/web/employments/_options.html.slim
Due: bundle exec slim-lint app/views/

design CT landing
  app/assets/images/graduates/belocrylets.png
  app/assets/images/graduates/guba.png
  app/assets/images/graduates/kharitonova.png
  app/assets/images/graduates/masyutin.png
  app/controllers/web/careers/employments_controller.rb
  app/javascript/entrypoints/employments.js
  app/javascript/stylesheets/application.scss
  app/views/layouts/web/employments/application.html.slim
  app/views/web/careers/employments/_blocks.html.slim
  app/views/web/careers/employments/_companies.html.slim
  app/views/web/careers/employments/_infographic.html.slim
  app/views/web/careers/employments/_join_ct.html.slim
  app/views/web/careers/employments/_options.html.slim
  app/views/web/careers/employments/_professions.html.slim
  app/views/web/careers/employments/_reviews.html.slim
  app/views/web/careers/employments/show.html.slim
  app/views/web/employments/show.html.slim
  config/locales/ru.views.yml
  config/routes.rb
Due: bundle exec rubocop, npx stylelint, bundle exec slim-lint app/views/

add translations
  app/views/web/employments/_companies.html.slim
  app/views/web/employments/_form.html.slim
  app/views/web/employments/_infographic.html.slim
  app/views/web/employments/_join_ct.html.slim
  app/views/web/employments/_professions.html.slim
  app/views/web/employments/_reviews.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

rename partials
  app/views/web/employments/_about_process.html.slim
  app/views/web/employments/_cards.html.slim
  app/views/web/employments/_intro.html.slim
  app/views/web/employments/_options.html.slim
  app/views/web/employments/show.html.slim
Due: bundle exec slim-lint app/views/

hide CT landing for en locale
  app/views/web/careers/employments/show.html.slim
  config/locales/en.views.yml
Due: bundle exec slim-lint app/views/

add form partial
  app/views/web/careers/employments/_form.html.slim
  app/views/web/careers/employments/show.html.slim
Due: bundle exec slim-lint app/views/

add translations
  config/locales/ru.views.yml
Due: none

fix links
  app/views/web/employments/_join_ct.html.slim
  app/views/web/employments/show.html.slim
Due: bundle exec slim-lint app/views/

remove unused image
  app/assets/images/logos/rtk_it_white.svg
Due: none

add form
  app/views/web/employments/_form.html.slim
  config/locales/ru.views.yml
Due: bundle exec slim-lint app/views/

fix test and controllers
  app/controllers/web/employments_controller.rb
  app/javascript/entrypoints/employments.js
  app/views/layouts/application.html.slim
  app/views/web/employments/_blocks.html.slim
  app/views/web/employments/_companies.html.slim
  app/views/web/employments/_form.html.slim
  app/views/web/employments/_infographic.html.slim
  app/views/web/employments/_join_ct.html.slim
  app/views/web/employments/_options.html.slim
  app/views/web/employments/_professions.html.slim
  app/views/web/employments/_reviews.html.slim
  app/views/web/employments/show.html.slim
  config/locales/en.views.yml
  config/locales/ru.views.yml
  config/routes.rb
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add lead
  app/controllers/web/employments_controller.rb
  app/controllers/web/leads_controller.rb
  app/forms/web/lead_form.rb
  app/models/lead.rb
  app/views/web/employments/_form.html.slim
  config/locales/en.activerecord.yml
  config/locales/en.helpers.yml
  config/locales/ru.activerecord.yml
  config/locales/ru.helpers.yml
  config/routes.rb
  db/migrate/20230717153132_create_leads.rb
  db/schema.rb
  test/factories/leads.rb
  test/fixtures/leads.yml
Due: bundle exec rubocop, bundle exec slim-lint app/views/

add anchor && resolve conflict
  app/views/web/employments/_form.html.slim
Due: bundle exec slim-lint app/views/

remove layout
  app/views/layouts/web/employments/application.html.slim
Due: bundle exec slim-lint app/views/

improve layout
  app/views/web/employments/_form.html.slim
  app/views/web/employments/_professions.html.slim
Due: bundle exec slim-lint app/views/

fix translations
  config/locales/ru.activerecord.yml
Due: none

Path conditions:
  bundle exec rubocop: any of: **/*.{rb,rake,axlsx}
  npx stylelint: any of: **/*.scss
  bundle exec slim-lint app/views/: any of: **/*.html.slim
